---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";

import Introduction from "../components/introduction.astro";
import Bang from "../components/bang.astro";
---

<video
	id="background-video"
	autoplay
	loop
	muted
	poster="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTogPfhbLOk_neriTUlJLrzYaVQG1DszGsBLQ&s"
>
	<source src="src/images/lines_fix.mp4" type="video/mp4" />
</video>
<style>
	#background-video {
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
</style>
<Layout>
	<Section>
		<Bang />
	</Section>
	<Section>
		<Introduction />
	</Section>
</Layout>
