---
import Layout from '../layouts/Layout.astro';
import Section from '../layouts/Section.astro';


import Bang from '../components/bang.astro'
---
<Layout>
	<Section>
		<Bang />
	</Section>
	<Section>
		<h1>description</h1>
	</Section>
</Layout>


