---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";

import Introduction from "../components/introduction.astro";
import Specialty from "../components/specialty.astro";
import Bang from "../components/bang.astro";
---
<Layout>
	<Section>
		<Bang />
	</Section>
	<Section>
		<Introduction />
	</Section>
	<Section>
		<Specialty />
	</Section>
	<Section>
		
	</Section>
</Layout>
