---
import Scrolldown from '../components/scrolldown.astro';
import Image from 'astro/components/Image.astro';
import OjanHacker from '../images/OjanHacker.jpg'
---
<script>
    import { PowerGlitch } from 'powerglitch'
    PowerGlitch.glitch('.glitch', 
    {
  "timing": {
    "duration": 1550,
    "iterations": 1
  },
  "shake": {
    "velocity": 20,
    "amplitudeX": 0.5,
    "amplitudeY": 0
  },
  "slice": {
    "count": 53,
    "minHeight": 0.15
  }
}
    )

</script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
<div id="home_section" class="main-div">    
    <div class="main_container">
        <div class="half_1">
            <h1>
                FAUZAN RIZKY NAUFAL
            </h1>
            <h3>
                COMPUTER SCIENTIST
            </h3>
        </div>
        <div class="half_2">
            <Image class="glitch" id='ojanPic' src={OjanHacker} alt="foto gweh" />
        </div>
    </div>

<style>
    html {
        font-size: 16px;
    }
    * {
        margin: 0;
        padding: 0;
        /* border: 1px solid red; */
        font-family: "JetBrains Mono";
    }

    .main_container {
        width: 80vw;
        height: 50vh;
        display: flex;
        flex-direction: row;
    }

    .half_1 {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .half_2 {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: clamp(1.25rem, 4vw, 5rem);
        position: relative;
        width: fit-content;
        animation: fadeInFont 0.1s linear;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
        font-weight: 800;
    }

    h3 {
        font-size: clamp(0.75rem, 4vw, 3rem);
        position: relative;
        width: fit-content;
        animation: fadeInFont 0.1s linear;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
        font-weight: 700;
    }

    /* h1, h3 {
        text-shadow: 0px 0px 0px white;
    } */

    h1:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
        background-color: white;
        animation: appearLine 0.8s ease-in-out;
        animation-fill-mode: forwards;
    }

    h3:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
        background-color: white;
        animation: appearLine 1s linear;
        animation-fill-mode: forwards;
    }

    @keyframes appearLine {
        0% {
            top: 0;
            left: 0;
            bottom: 0;
            width: 0%;
            height: 100%;
            background-color: white;
        }

        50% {
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: white;
        }

        60% {
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: white;
        }

        100% {
            top: 0;
            left: +100%;
            bottom: 0;
            width: 0%;
            height: 100%;
            background-color: white;
        }
    }

    @keyframes fadeInFont {
        0% {
            color: black;
            text-shadow: 0px 0px 0px white;
        }

        100% {
            text-shadow: 0px 0px 20px white;
            color: white;
        }
    }

    @keyframes stdFadeIn {
        to {opacity: 1;}
    }
    

    #home_section {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #ojanPic {
        opacity: 0;
        width: 24vw;
        height: 24vw;
        border-radius: 512px;
        animation: stdFadeIn 1s linear;
        animation-fill-mode: forwards;
    }

    @media only screen and (max-width: 720px) {
        .main_container {
            width: 100vw;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            gap: 80px;
        }
        .half_1 {
            align-items: center;
            width: 90%;
        }

        .half_2 {
            width: 80%;
            height: 40%;
        }

        #ojanPic {
            min-width: 208px;
            min-height: 208px;
            width: 40vw;
            height: 40vw;
        }

        h1 {
            font-size: clamp(2rem, 4vw, 5rem);
        }

        h3 {
            font-size: clamp(1.5rem, 4vw, 3rem);
        }
    }
</style>