---
import Scrolldown from '../components/scrolldown.astro';
---
<script>
    import { PowerGlitch } from 'powerglitch'
    
    PowerGlitch.glitch(
    '.glitch',
    {
  "playMode": "always",
  "createContainers": true,
  "hideOverflow": false,
  "timing": {
    "duration": 3500,
    "iterations": 2,
  },
  "glitchTimeSpan": {
    "start": 0,
    "end": 0.2
  },
  "shake": {
    "velocity": 15,
    "amplitudeX": 0.2,
    "amplitudeY": 0.2
  },
  "slice": {
    "count": 6,
    "velocity": 15,
    "minHeight": 0.02,
    "maxHeight": 0.15,
    "hueRotate": true
  },
  "pulse": false
}
)
</script>
<div id="home_section" class="main-div">
    <h1 class="glitch">
        <svg viewBox="0 0 416 63" xmlns="http://www.w3.org/2000/svg">
            <g id="Ojan" filter="url(#filter0_d_1_2)">
            <path d="M15.2939 44H11.2139C10.5419 44 10.2059 43.664 10.2059 42.992V14.144C10.2059 13.472 10.5419 13.136 11.2139 13.136H26.5259C27.1659 13.136 27.4859 13.472 27.4859 14.144V17.408C27.4859 18.08 27.1659 18.416 26.5259 18.416H16.8779C16.4939 18.416 16.3019 18.592 16.3019 18.944V26.384C16.3019 26.768 16.4939 26.96 16.8779 26.96H25.0859C25.7579 26.96 26.0939 27.296 26.0939 27.968V31.184C26.0939 31.888 25.7579 32.24 25.0859 32.24H16.8779C16.4939 32.24 16.3019 32.416 16.3019 32.768V42.992C16.3019 43.664 15.9659 44 15.2939 44ZM39.9273 44H38.7753C36.2473 44 34.2953 43.328 32.9193 41.984C31.5433 40.64 30.8553 38.704 30.8553 36.176V27.344C30.8553 24.816 31.5433 22.88 32.9193 21.536C34.2953 20.192 36.2473 19.52 38.7753 19.52H49.8633C50.5673 19.52 50.9193 19.856 50.9193 20.528V42.992C50.9193 43.664 50.5673 44 49.8633 44H45.8313C45.1593 44 44.8233 43.664 44.8233 42.992V41.408H44.6313C44.2793 42.272 43.6553 42.928 42.7593 43.376C41.8633 43.792 40.9193 44 39.9273 44ZM44.8233 35.072V25.328C44.8233 24.976 44.6313 24.8 44.2473 24.8H39.7353C38.7113 24.8 37.9913 25.024 37.5753 25.472C37.1593 25.888 36.9513 26.608 36.9513 27.632V35.888C36.9513 36.912 37.1593 37.648 37.5753 38.096C37.9913 38.512 38.7113 38.72 39.7353 38.72H41.5113C43.7193 38.72 44.8233 37.504 44.8233 35.072ZM65.0111 44H63.4271C60.9631 44 59.0911 43.328 57.8111 41.984C56.5631 40.64 55.9391 38.704 55.9391 36.176V20.528C55.9391 19.856 56.2751 19.52 56.9471 19.52H61.0271C61.6991 19.52 62.0351 19.856 62.0351 20.528V35.888C62.0351 36.912 62.2431 37.648 62.6591 38.096C63.1071 38.512 63.8271 38.72 64.8191 38.72H66.5951C68.8031 38.72 69.9071 37.504 69.9071 35.072V20.528C69.9071 19.856 70.2431 19.52 70.9151 19.52H74.9471C75.6511 19.52 76.0031 19.856 76.0031 20.528V42.992C76.0031 43.664 75.6511 44 74.9471 44H70.9151C70.2431 44 69.9071 43.664 69.9071 42.992V41.408H69.7151C69.3631 42.272 68.7391 42.928 67.8431 43.376C66.9471 43.792 66.0031 44 65.0111 44ZM80.1521 42.992V41.408C80.1521 40.32 80.4561 39.392 81.0641 38.624L91.2401 24.944V24.752H81.5921C80.9201 24.752 80.5841 24.4 80.5841 23.696V20.528C80.5841 19.856 80.9201 19.52 81.5921 19.52H97.2401C97.9121 19.52 98.2481 19.856 98.2481 20.528V23.408C98.2481 24.432 97.9921 25.264 97.4801 25.904L88.0721 38.576V38.768H97.7681C98.4401 38.768 98.7761 39.12 98.7761 39.824V42.992C98.7761 43.664 98.4401 44 97.7681 44H81.1601C80.4881 44 80.1521 43.664 80.1521 42.992ZM111.459 44H110.307C107.779 44 105.827 43.328 104.451 41.984C103.075 40.64 102.387 38.704 102.387 36.176V27.344C102.387 24.816 103.075 22.88 104.451 21.536C105.827 20.192 107.779 19.52 110.307 19.52H121.395C122.099 19.52 122.451 19.856 122.451 20.528V42.992C122.451 43.664 122.099 44 121.395 44H117.363C116.691 44 116.355 43.664 116.355 42.992V41.408H116.163C115.811 42.272 115.187 42.928 114.291 43.376C113.395 43.792 112.451 44 111.459 44ZM116.355 35.072V25.328C116.355 24.976 116.163 24.8 115.779 24.8H111.267C110.243 24.8 109.523 25.024 109.107 25.472C108.691 25.888 108.483 26.608 108.483 27.632V35.888C108.483 36.912 108.691 37.648 109.107 38.096C109.523 38.512 110.243 38.72 111.267 38.72H113.043C115.251 38.72 116.355 37.504 116.355 35.072ZM132.798 44H128.718C128.046 44 127.71 43.664 127.71 42.992V20.528C127.71 19.856 128.046 19.52 128.718 19.52H132.798C133.47 19.52 133.806 19.856 133.806 20.528V22.112H133.998C134.702 20.384 136.27 19.52 138.702 19.52H140.238C145.262 19.52 147.774 22.128 147.774 27.344V42.992C147.774 43.664 147.422 44 146.718 44H142.686C142.014 44 141.678 43.664 141.678 42.992V27.632C141.678 26.608 141.454 25.888 141.006 25.472C140.59 25.024 139.87 24.8 138.846 24.8H137.118C134.91 24.8 133.806 26.016 133.806 28.448V42.992C133.806 43.664 133.47 44 132.798 44ZM168.95 44H164.87C164.198 44 163.862 43.664 163.862 42.992V14.144C163.862 13.472 164.198 13.136 164.87 13.136H176.294C178.79 13.136 180.742 13.824 182.15 15.2C183.558 16.576 184.262 18.512 184.262 21.008V24.752C184.262 28.368 182.838 30.768 179.99 31.952V32.144L185.126 42.848C185.414 43.616 185.142 44 184.31 44H180.422C179.846 44 179.43 43.936 179.174 43.808C178.918 43.68 178.71 43.408 178.55 42.992L173.75 32.624H170.534C170.15 32.624 169.958 32.8 169.958 33.152V42.992C169.958 43.664 169.622 44 168.95 44ZM170.486 27.728H175.19C176.214 27.728 176.966 27.52 177.446 27.104C177.926 26.656 178.166 25.952 178.166 24.992V21.248C178.166 20.256 177.926 19.536 177.446 19.088C176.966 18.64 176.214 18.416 175.19 18.416H170.486C170.134 18.416 169.958 18.592 169.958 18.944V27.2C169.958 27.552 170.134 27.728 170.486 27.728ZM189.872 15.392V11.216C189.872 10.576 190.192 10.256 190.832 10.256H195.008C195.648 10.256 195.968 10.56 195.968 11.168V15.392C195.968 16.032 195.648 16.352 195.008 16.352H190.832C190.192 16.352 189.872 16.032 189.872 15.392ZM189.872 42.992V20.528C189.872 19.856 190.192 19.52 190.832 19.52H194.96C195.632 19.52 195.968 19.856 195.968 20.528V42.992C195.968 43.408 195.888 43.68 195.728 43.808C195.6 43.936 195.36 44 195.008 44H190.88C190.208 44 189.872 43.664 189.872 42.992ZM200.34 42.992V41.408C200.34 40.32 200.644 39.392 201.252 38.624L211.428 24.944V24.752H201.78C201.108 24.752 200.772 24.4 200.772 23.696V20.528C200.772 19.856 201.108 19.52 201.78 19.52H217.428C218.1 19.52 218.436 19.856 218.436 20.528V23.408C218.436 24.432 218.18 25.264 217.668 25.904L208.26 38.576V38.768H217.956C218.628 38.768 218.964 39.12 218.964 39.824V42.992C218.964 43.664 218.628 44 217.956 44H201.348C200.676 44 200.34 43.664 200.34 42.992ZM237.07 19.52H241.726C242.11 19.52 242.366 19.632 242.494 19.856C242.622 20.08 242.574 20.368 242.35 20.72L235.966 31.232V31.424L242.638 42.8C242.83 43.12 242.846 43.408 242.686 43.664C242.526 43.888 242.238 44 241.822 44H237.694C237.15 44 236.75 43.936 236.494 43.808C236.27 43.68 236.03 43.408 235.774 42.992L229.678 32.288C229.39 31.776 229.39 31.248 229.678 30.704L235.438 20.48C235.79 19.84 236.334 19.52 237.07 19.52ZM228.142 44H224.062C223.39 44 223.054 43.664 223.054 42.992V11.264C223.054 10.592 223.39 10.256 224.062 10.256H228.142C228.814 10.256 229.15 10.592 229.15 11.264V42.992C229.15 43.664 228.814 44 228.142 44ZM249.679 52.112H246.607C245.967 52.112 245.647 51.76 245.647 51.056V47.84C245.647 47.136 245.967 46.784 246.607 46.784H247.615C249.631 46.784 250.991 46.496 251.695 45.92C252.431 45.376 252.991 44.304 253.375 42.704H250.831C250.223 42.704 249.823 42.368 249.631 41.696L244.015 20.528C243.823 19.856 244.063 19.52 244.735 19.52H249.007C249.647 19.52 250.047 19.856 250.207 20.528L254.335 38.24H254.527L258.607 20.528C258.735 19.856 259.135 19.52 259.807 19.52H263.839C264.639 19.52 264.959 19.872 264.799 20.576L258.943 44C258.239 46.656 257.151 48.672 255.679 50.048C254.207 51.424 252.207 52.112 249.679 52.112ZM284.307 44H280.323C279.651 44 279.315 43.664 279.315 42.992V14.144C279.315 13.472 279.651 13.136 280.323 13.136H283.923C284.595 13.136 285.043 13.36 285.267 13.808L294.963 32H295.155V14.144C295.155 13.472 295.491 13.136 296.163 13.136H300.147C300.819 13.136 301.155 13.472 301.155 14.144V42.992C301.155 43.664 300.819 44 300.147 44H296.643C295.939 44 295.427 43.68 295.107 43.04L285.507 25.184H285.315V42.992C285.315 43.664 284.979 44 284.307 44ZM315.505 44H314.353C311.825 44 309.873 43.328 308.497 41.984C307.121 40.64 306.433 38.704 306.433 36.176V27.344C306.433 24.816 307.121 22.88 308.497 21.536C309.873 20.192 311.825 19.52 314.353 19.52H325.441C326.145 19.52 326.497 19.856 326.497 20.528V42.992C326.497 43.664 326.145 44 325.441 44H321.409C320.737 44 320.401 43.664 320.401 42.992V41.408H320.209C319.857 42.272 319.233 42.928 318.337 43.376C317.441 43.792 316.497 44 315.505 44ZM320.401 35.072V25.328C320.401 24.976 320.209 24.8 319.825 24.8H315.313C314.289 24.8 313.569 25.024 313.153 25.472C312.737 25.888 312.529 26.608 312.529 27.632V35.888C312.529 36.912 312.737 37.648 313.153 38.096C313.569 38.512 314.289 38.72 315.313 38.72H317.089C319.297 38.72 320.401 37.504 320.401 35.072ZM340.589 44H339.005C336.541 44 334.669 43.328 333.389 41.984C332.141 40.64 331.517 38.704 331.517 36.176V20.528C331.517 19.856 331.853 19.52 332.525 19.52H336.605C337.277 19.52 337.613 19.856 337.613 20.528V35.888C337.613 36.912 337.821 37.648 338.237 38.096C338.685 38.512 339.405 38.72 340.397 38.72H342.173C344.381 38.72 345.485 37.504 345.485 35.072V20.528C345.485 19.856 345.821 19.52 346.493 19.52H350.525C351.229 19.52 351.581 19.856 351.581 20.528V42.992C351.581 43.664 351.229 44 350.525 44H346.493C345.821 44 345.485 43.664 345.485 42.992V41.408H345.293C344.941 42.272 344.317 42.928 343.421 43.376C342.525 43.792 341.581 44 340.589 44ZM365.762 19.52H369.602C369.986 19.52 370.242 19.6 370.37 19.76C370.53 19.888 370.61 20.128 370.61 20.48V23.792C370.61 24.464 370.274 24.8 369.602 24.8H365.762C365.41 24.8 365.234 24.976 365.234 25.328V42.992C365.234 43.664 364.882 44 364.178 44H360.146C359.474 44 359.138 43.664 359.138 42.992V25.328C359.138 24.976 358.946 24.8 358.562 24.8H356.354C355.682 24.8 355.346 24.464 355.346 23.792V20.48C355.346 20.096 355.41 19.84 355.538 19.712C355.698 19.584 355.97 19.52 356.354 19.52H358.562C358.946 19.52 359.138 19.344 359.138 18.992V18.08C359.138 15.552 359.794 13.616 361.106 12.272C362.45 10.928 364.386 10.256 366.914 10.256H369.65C370.034 10.256 370.29 10.336 370.418 10.496C370.546 10.624 370.61 10.864 370.61 11.216V14.528C370.61 15.2 370.29 15.536 369.65 15.536H367.874C366.85 15.536 366.146 15.76 365.762 16.208C365.41 16.624 365.234 17.344 365.234 18.368V18.992C365.234 19.344 365.41 19.52 365.762 19.52ZM382.443 44H381.291C378.763 44 376.811 43.328 375.435 41.984C374.059 40.64 373.371 38.704 373.371 36.176V27.344C373.371 24.816 374.059 22.88 375.435 21.536C376.811 20.192 378.763 19.52 381.291 19.52H392.379C393.083 19.52 393.435 19.856 393.435 20.528V42.992C393.435 43.664 393.083 44 392.379 44H388.347C387.675 44 387.339 43.664 387.339 42.992V41.408H387.147C386.795 42.272 386.171 42.928 385.275 43.376C384.379 43.792 383.435 44 382.443 44ZM387.339 35.072V25.328C387.339 24.976 387.147 24.8 386.763 24.8H382.251C381.227 24.8 380.507 25.024 380.091 25.472C379.675 25.888 379.467 26.608 379.467 27.632V35.888C379.467 36.912 379.675 37.648 380.091 38.096C380.507 38.512 381.227 38.72 382.251 38.72H384.027C386.235 38.72 387.339 37.504 387.339 35.072ZM404.023 44H399.943C399.271 44 398.935 43.664 398.935 42.992V11.264C398.935 10.592 399.271 10.256 399.943 10.256H404.023C404.695 10.256 405.031 10.592 405.031 11.264V42.992C405.031 43.664 404.695 44 404.023 44Z" fill="white"/>
            </g>
            <defs>
            <filter id="filter0_d_1_2" x="0.205933" y="0.255997" width="414.825" height="61.856" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset/>
            <feGaussianBlur stdDeviation="5"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_2"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_2" result="shape"/>
            </filter>
            </defs>
            </svg>
            
            
                   
    </h1>
</div>


<style>
    :root {
    --stroke-width: 0.25px;
    }
	* {
        padding: 0;
        margin: 0;
    }

    .main-div {
		overflow-x: hidden;
		overflow-y: hidden;
		display: flex;
        flex-direction: column;
		justify-content: center;
		align-items: center;
        width: 100vw;
		height: 100%;
        gap: 0;
    }

    svg path {
        fill: white;
        stroke: black;
        stroke-width: var(--stroke-width);
        stroke-dasharray: 210;
        stroke-dashoffset: 0;
        animation: 0.01s textIntro ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: 3.5s;
        opacity: 0;
        
    }

    svg {
        width: 90vw;
        height: fit-content;
        padding: 2vw;
    }

    @keyframes textIntro {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @media only screen and (max-width: 720px) {
        :root {
            --stroke-width: 0.01px;
        }
        
        svg {
            width: 95vw;
        }
    }
</style>