---
---
<script>
    window.onload = () => {
      main();
    };

    function main() {
      function getRandomInt(min, max) {
        const minCeiled = Math.ceil(min);
        const maxFloored = Math.floor(max);
        return Math.floor(
          Math.random() * (maxFloored - minCeiled) + minCeiled,
        ); // The maximum is exclusive and the minimum is inclusive
      }
      const clockNumerals = document.getElementById("ClockNumerals");
      const innerClock = document.getElementById("InnerClock");
      const outerClock = document.getElementById("OuterClock");

      function setArrow() {
        let d = new Date();
        let majorArrowRotation = d.getMinutes();
        let minorArrowRotation = d.getHours();
        document.documentElement.style.setProperty(
          "--majorArrowDeg",
          `${6 * majorArrowRotation + 180 + 720}deg`,
        );
        document.documentElement.style.setProperty(
          "--minorArrowDeg",
          `${30 * minorArrowRotation + 0.5 * majorArrowRotation + 180 + 720}deg`,
        );
        console.log("Yolo");
      }
      setArrow();

      outerClock.style.transform = `rotateZ(${getRandomInt(480, 720)}deg) rotateX(${180}deg) rotateY(${getRandomInt(420, 450)}deg)`;
      innerClock.style.transform = `rotateZ(-${getRandomInt(360, 720)}deg) rotateX(${180}deg) rotateY(-${getRandomInt(420, 450)}deg)`;
      clockNumerals.style.transform = `rotateZ(${getRandomInt(360, 720)}deg) rotateX(${getRandomInt(180, 270)}deg) rotateY(${getRandomInt(180, 270)}deg)`;
    }
  </script>
<style>
    :root {
        --majorArrowDeg: 0deg;
        --minorArrowDeg: 0deg;
        --clockSize: 50vw;
        --blurRadius: 10px;
        --clockBrightness: 72.5%;
      }
      body {
        scroll-behavior: smooth;
        background: black;
        overflow-x: hidden;
      }
      * {
        padding: 0;
        margin: 0;
        /* border: 1px solid red; */
      }
    .clock_background {
        animation: clockFade 1s linear forwards;
        animation-timeline: scroll(block nearest);
        width: 99vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -5;
        position: fixed;
      }

      .clock_container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -5;
        position: fixed;
        animation: blurOut 3s ease-in-out;
        animation-delay: 3s;
        animation-fill-mode: forwards;
      }

      svg {
        height: max-content;
        transform-origin: center;
        animation-fill-mode: forwards;
        width: var(--clockSize);
        animation: scaleIn 2s ease-out;
      }

      #MainClock {
        transform-origin: center;
      }

      #ClockNumerals {
        transform-origin: center;
        animation: resetRotationIC 3s ease-out;
        animation-fill-mode: forwards;
      }

      #InnerClock {
        animation: resetRotationIC 3s ease-out;
        transform-origin: center;
        animation-fill-mode: forwards;
      }

      #OuterClock {
        animation: resetRotation 3s ease-out;
        transform-origin: center;
        animation-fill-mode: forwards;
      }

      #MajorArrow {
        transform-origin: center;
        transform: rotateZ(-326deg);
        animation: majorArrowSet 2.5s ease-out;
        animation-fill-mode: forwards;
      }

      #MinorArrow {
        transform-origin: center;
        transform: rotateZ(-640deg);
        animation: minorArrowSet 2.5s ease-out;
        animation-fill-mode: forwards;
      }

      .romanNumerals {
        animation: fadeInClock 0.5s linear;
        animation-fill-mode: forwards;
        opacity: 0;
      }

      @keyframes majorArrowSet {
        from {
          scale: 0.01;
        }
        to {
          transform: rotateZ(var(--majorArrowDeg));
        }
      }

      @keyframes minorArrowSet {
        from {
          scale: 0.01;
        }
        to {
          transform: rotateZ(var(--minorArrowDeg));
        }
      }

      @keyframes scaleIn {
        0% {
          width: 1vw;
          transform: translateY(35vh);
        }
        50% {
          scale: 2;
          transform: translateY(0vh);
        }

        100% {
          width: var(--clockSize);
        }
      }

      @keyframes blurOut {
        100% {
          filter: blur(2.5px) brightness(var(--clockBrightness));
        }
      }

      @keyframes fadeInClock {
        to {
          opacity: 1;
        }
      }

      @keyframes resetRotation {
        to {
          transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg) scale(1);
        }
      }

      @keyframes resetRotationIC {
        from {
          scale: 0.5;
        }
        to {
          transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg) scale(1);
        }
      }

      @keyframes clockFade {
        25% {
          filter: brightness(0);
        }
        100% {
          filter: brightness(0);
        }
      }

      @media only screen and (max-width: 720px) {
        :root {
          --clockSize: 100vw;
          --blurRadius: 2.5px;
          --clockBrightness: 50%;
        }
      }
</style>
<div class="clock_background">
    <div class="clock_container">
      <svg width="1049" height="1051" viewBox="0 0 1049 1051" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="MainClock" filter="url(#filter0_d_59_13)">
        <g id="ClockNumerals">
        <path class="romanNumerals" id="I" d="M712.952 185.264L713.79 183.808L715.414 184.194C716.524 184.405 717.363 184.336 717.933 183.988C718.575 183.62 719.176 182.951 719.735 181.981L739.892 146.969C740.451 145.998 740.716 145.165 740.685 144.47C740.728 143.755 740.38 142.968 739.643 142.11L738.498 140.892L739.337 139.437L756.645 149.458L755.807 150.913L754.183 150.528C753.119 150.344 752.266 150.435 751.624 150.803C751.008 151.124 750.421 151.77 749.862 152.741L729.704 187.753C729.146 188.723 728.868 189.579 728.872 190.321C728.902 191.017 729.263 191.78 729.953 192.611L731.099 193.829L730.26 195.285L712.952 185.264Z" fill="white"/>
        <path class="romanNumerals" id="II" d="M846.871 321.099L848.325 320.257L849.538 321.404C850.394 322.141 851.155 322.501 851.822 322.485C852.562 322.487 853.417 322.208 854.386 321.647L889.349 301.405C890.319 300.844 890.964 300.254 891.285 299.637C891.68 299.039 891.772 298.184 891.563 297.073L891.18 295.445L892.634 294.604L902.613 311.936L901.159 312.778L899.945 311.632C899.117 310.941 898.332 310.594 897.592 310.591C896.898 310.561 896.067 310.827 895.097 311.388L860.134 331.631C859.165 332.192 858.497 332.795 858.129 333.439C857.808 334.056 857.738 334.898 857.921 335.963L858.304 337.59L856.85 338.432L846.871 321.099ZM858.682 341.614L860.136 340.772L861.349 341.918C862.205 342.656 862.966 343.016 863.633 342.999C864.374 343.002 865.228 342.723 866.198 342.162L901.16 321.92C902.13 321.358 902.775 320.769 903.097 320.152C903.491 319.554 903.583 318.699 903.374 317.587L902.991 315.96L904.445 315.118L914.424 332.451L912.97 333.293L911.757 332.147C910.928 331.456 910.143 331.109 909.403 331.106C908.709 331.076 907.878 331.342 906.908 331.903L871.945 352.145C870.976 352.707 870.308 353.309 869.94 353.954C869.619 354.571 869.549 355.412 869.732 356.478L870.115 358.105L868.661 358.947L858.682 341.614Z" fill="white"/>
        <path class="romanNumerals" id="III" d="M904.005 492.43H905.685L906.165 494.03C906.538 495.097 907.018 495.79 907.605 496.11C908.245 496.484 909.125 496.67 910.245 496.67H950.645C951.765 496.67 952.618 496.484 953.205 496.11C953.845 495.79 954.352 495.097 954.725 494.03L955.205 492.43H956.885V512.43H955.205L954.725 510.83C954.352 509.817 953.845 509.124 953.205 508.75C952.618 508.377 951.765 508.19 950.645 508.19H910.245C909.125 508.19 908.245 508.377 907.605 508.75C907.018 509.124 906.538 509.817 906.165 510.83L905.685 512.43H904.005V492.43ZM904.005 516.102H905.685L906.165 517.702C906.538 518.769 907.018 519.462 907.605 519.782C908.245 520.156 909.125 520.342 910.245 520.342H950.645C951.765 520.342 952.618 520.156 953.205 519.782C953.845 519.462 954.352 518.769 954.725 517.702L955.205 516.102H956.885V536.102H955.205L954.725 534.502C954.352 533.489 953.845 532.796 953.205 532.422C952.618 532.049 951.765 531.862 950.645 531.862H910.245C909.125 531.862 908.245 532.049 907.605 532.422C907.018 532.796 906.538 533.489 906.165 534.502L905.685 536.102H904.005V516.102ZM904.005 539.774H905.685L906.165 541.374C906.538 542.441 907.018 543.134 907.605 543.454C908.245 543.827 909.125 544.014 910.245 544.014H950.645C951.765 544.014 952.618 543.827 953.205 543.454C953.845 543.134 954.352 542.441 954.725 541.374L955.205 539.774H956.885V559.774H955.205L954.725 558.174C954.352 557.161 953.845 556.467 953.205 556.094C952.618 555.721 951.765 555.534 950.645 555.534H910.245C909.125 555.534 908.245 555.721 907.605 556.094C907.018 556.467 906.538 557.161 906.165 558.174L905.685 559.774H904.005V539.774Z" fill="white"/>
        <path class="romanNumerals" id="IV" d="M870.898 684.404L872.352 685.246L871.969 686.873C871.76 687.984 871.829 688.826 872.177 689.397C872.545 690.041 873.213 690.644 874.182 691.205L909.145 711.447C910.115 712.008 910.946 712.274 911.64 712.245C912.354 712.288 913.138 711.941 913.994 711.204L915.207 710.058L916.661 710.899L906.682 728.232L905.228 727.39L905.611 725.763C905.794 724.698 905.701 723.843 905.334 723.199C905.012 722.581 904.367 721.992 903.397 721.431L868.435 701.189C867.465 700.627 866.611 700.348 865.87 700.351C865.176 700.381 864.415 700.741 863.586 701.432L862.373 702.578L860.919 701.736L870.898 684.404ZM848.232 723.131L897.622 731.944C899.675 732.332 901.462 731.794 902.981 730.332L904.274 729.047L905.728 729.889L894.671 749.093L893.287 748.292L893.92 746.07C894.255 744.846 894.116 743.965 893.504 743.425C892.865 742.932 891.908 742.563 890.633 742.318L855.323 735.186L879.098 762.355C879.946 763.339 880.73 764.009 881.449 764.363C882.141 764.764 882.932 764.513 883.821 763.61L885.264 762.227L886.648 763.029L880.701 773.359L879.247 772.517L879.829 770.543C880.157 769.439 880.164 768.519 879.85 767.782C879.509 767.092 878.947 766.304 878.164 765.419L845.398 728.053L848.232 723.131Z" fill="white"/>
        <path class="romanNumerals" id="V" d="M703.739 855.564L742.105 887.891C743.69 889.254 745.505 889.681 747.552 889.174L749.315 888.709L750.153 890.164L730.975 901.268L730.177 899.881L731.836 898.273C732.738 897.381 733.059 896.549 732.798 895.775C732.491 895.029 731.847 894.231 730.866 893.381L703.852 869.549L710.857 904.966C711.1 906.242 711.444 907.214 711.889 907.881C712.289 908.574 713.099 908.752 714.32 908.415L716.261 907.938L717.059 909.325L706.743 915.297L705.905 913.841L707.397 912.423C708.233 911.631 708.699 910.837 708.795 910.042C708.845 909.273 708.752 908.31 708.516 907.153L698.823 858.41L703.739 855.564Z" fill="white"/>
        <path class="romanNumerals" id="VI" d="M535.266 905.68L552.386 952.88C553.079 954.853 554.439 956.133 556.466 956.72L558.226 957.2V958.88H536.066V957.28L538.306 956.72C539.533 956.4 540.226 955.84 540.386 955.04C540.493 954.24 540.333 953.227 539.906 952L528.386 917.84L516.786 952C516.359 953.227 516.173 954.24 516.226 955.04C516.226 955.84 516.839 956.4 518.066 956.72L519.986 957.28V958.88H508.066V957.2L510.066 956.72C511.186 956.453 511.986 956 512.466 955.36C512.893 954.72 513.293 953.84 513.666 952.72L529.586 905.68H535.266ZM505.841 906V907.68L504.241 908.16C503.174 908.533 502.481 909.013 502.161 909.6C501.788 910.24 501.601 911.12 501.601 912.24V952.64C501.601 953.76 501.788 954.613 502.161 955.2C502.481 955.84 503.174 956.347 504.241 956.72L505.841 957.2V958.88H485.841V957.2L487.441 956.72C488.454 956.347 489.148 955.84 489.521 955.2C489.894 954.613 490.081 953.76 490.081 952.64V912.24C490.081 911.12 489.894 910.24 489.521 909.6C489.148 909.013 488.454 908.533 487.441 908.16L485.841 907.68V906H505.841Z" fill="white"/>
        <path class="romanNumerals" id="VII" d="M359.718 866.256L350.984 915.739C350.599 917.797 351.137 919.587 352.599 921.111L353.882 922.409L353.044 923.865L333.866 912.762L334.665 911.375L336.883 912.012C338.104 912.35 338.983 912.212 339.521 911.599C340.012 910.959 340.38 910 340.622 908.723L347.697 873.347L320.614 897.139C319.633 897.988 318.965 898.773 318.612 899.493C318.213 900.186 318.465 900.979 319.367 901.871L320.749 903.318L319.95 904.705L309.635 898.732L310.473 897.277L312.443 897.863C313.546 898.193 314.464 898.201 315.199 897.887C315.887 897.546 316.673 896.983 317.555 896.2L354.803 863.41L359.718 866.256ZM334.094 851.79L333.255 853.246L331.631 852.86C330.522 852.65 329.682 852.718 329.113 853.066C328.47 853.434 327.87 854.103 327.311 855.074L307.153 890.085C306.594 891.056 306.33 891.889 306.36 892.585C306.318 893.3 306.665 894.086 307.402 894.944L308.547 896.162L307.709 897.618L290.401 887.597L291.239 886.141L292.863 886.526C293.926 886.711 294.779 886.619 295.422 886.251C296.037 885.93 296.625 885.284 297.184 884.313L317.341 849.301C317.9 848.331 318.178 847.475 318.174 846.733C318.143 846.038 317.783 845.274 317.092 844.443L315.947 843.225L316.785 841.769L334.094 851.79ZM313.608 839.929L312.769 841.385L311.145 841C310.036 840.789 309.196 840.857 308.627 841.205C307.984 841.573 307.384 842.242 306.825 843.213L286.667 878.225C286.108 879.195 285.844 880.028 285.874 880.724C285.832 881.439 286.179 882.225 286.916 883.083L288.061 884.301L287.223 885.757L269.915 875.736L270.753 874.28L272.377 874.666C273.44 874.85 274.293 874.758 274.936 874.391C275.551 874.069 276.139 873.423 276.697 872.453L296.855 837.441C297.414 836.47 297.691 835.614 297.688 834.872C297.657 834.177 297.297 833.413 296.606 832.582L295.461 831.364L296.299 829.909L313.608 839.929Z" fill="white"/>
        <path class="romanNumerals" id="VIII" d="M228.051 747.84L195.745 786.326C194.383 787.916 193.954 789.736 194.458 791.786L194.92 793.552L193.466 794.393L182.41 775.189L183.794 774.387L185.397 776.048C186.286 776.951 187.116 777.271 187.888 777.009C188.634 776.7 189.431 776.054 190.28 775.07L214.094 747.97L178.744 755.033C177.469 755.278 176.499 755.624 175.834 756.071C175.141 756.472 174.963 757.284 175.298 758.507L175.771 760.452L174.386 761.254L168.439 750.923L169.893 750.082L171.306 751.574C172.096 752.411 172.887 752.877 173.681 752.973C174.447 753.022 175.409 752.928 176.564 752.69L225.217 742.917L228.051 747.84ZM213.092 722.5L211.638 723.341L210.425 722.195C209.569 721.458 208.808 721.098 208.14 721.114C207.4 721.111 206.546 721.39 205.576 721.952L170.613 742.194C169.644 742.755 168.999 743.344 168.677 743.962C168.283 744.56 168.191 745.415 168.4 746.526L168.783 748.153L167.329 748.995L157.35 731.662L158.804 730.821L160.017 731.967C160.846 732.658 161.63 733.005 162.371 733.008C163.065 733.037 163.896 732.772 164.866 732.21L199.828 711.968C200.798 711.407 201.466 710.804 201.834 710.16C202.155 709.542 202.225 708.701 202.042 707.636L201.659 706.009L203.113 705.167L213.092 722.5ZM201.281 701.985L199.827 702.827L198.613 701.68C197.758 700.943 196.997 700.583 196.329 700.599C195.589 700.597 194.735 700.876 193.765 701.437L158.802 721.679C157.833 722.24 157.188 722.83 156.866 723.447C156.472 724.045 156.38 724.9 156.589 726.011L156.972 727.639L155.518 728.48L145.539 711.148L146.993 710.306L148.206 711.452C149.035 712.143 149.819 712.49 150.56 712.493C151.253 712.523 152.085 712.257 153.054 711.696L188.017 691.453C188.987 690.892 189.655 690.289 190.023 689.645C190.344 689.028 190.414 688.186 190.231 687.121L189.848 685.494L191.302 684.652L201.281 701.985ZM189.47 681.47L188.016 682.312L186.802 681.166C185.947 680.428 185.186 680.068 184.518 680.085C183.778 680.082 182.923 680.361 181.954 680.922L146.991 701.164C146.022 701.726 145.377 702.315 145.055 702.932C144.661 703.53 144.568 704.385 144.778 705.497L145.16 707.124L143.707 707.966L133.727 690.633L135.181 689.791L136.395 690.937C137.224 691.628 138.008 691.975 138.748 691.978C139.442 692.008 140.274 691.742 141.243 691.181L176.206 670.939C177.175 670.377 177.844 669.775 178.211 669.13C178.533 668.513 178.602 667.672 178.42 666.606L178.037 664.979L179.491 664.137L189.47 681.47Z" fill="white"/>
        <path class="romanNumerals" id="IX" d="M144 555.974L142.32 555.974L141.84 554.374C141.467 553.307 140.987 552.614 140.4 552.294C139.76 551.921 138.88 551.734 137.76 551.734L97.36 551.734C96.24 551.734 95.3867 551.921 94.8 552.294C94.16 552.614 93.6533 553.307 93.28 554.374L92.8 555.974L91.12 555.974L91.12 535.974L92.8 535.974L93.28 537.574C93.6533 538.587 94.16 539.281 94.8 539.654C95.3867 540.027 96.24 540.214 97.36 540.214L137.76 540.214C138.88 540.214 139.76 540.027 140.4 539.654C140.987 539.281 141.467 538.587 141.84 537.574L142.32 535.974L144 535.974L144 555.974ZM144 533.022L142.32 533.022L141.92 531.582C141.6 530.409 141.147 529.502 140.56 528.862C139.92 528.169 139.067 527.475 138 526.782L119.52 514.782L97.04 528.062C95.9733 528.702 95.1733 529.262 94.64 529.742C94.1067 530.222 93.6533 530.995 93.28 532.062L92.8 533.422L91.12 533.422L91.12 512.382L92.8 512.382L93.2 513.982C93.52 515.102 94.08 515.715 94.88 515.822C95.68 515.929 96.64 515.662 97.76 515.022L111.04 507.102L97.84 498.782C96.72 498.089 95.7333 497.715 94.88 497.662C93.9733 497.555 93.3867 498.115 93.12 499.342L92.8 500.702L91.12 500.702L91.12 488.862L92.8 488.862L93.28 490.702C93.5467 491.822 94 492.702 94.64 493.342C95.2267 493.929 96.0533 494.542 97.12 495.182L113.44 505.742L138 491.262C139.067 490.675 139.893 490.062 140.48 489.422C141.013 488.729 141.467 487.875 141.84 486.862L142.32 485.262L144 485.262L144 507.182L142.32 507.182L142 505.582C141.733 504.409 141.173 503.742 140.32 503.582C139.467 503.369 138.453 503.609 137.28 504.302L122 513.422L137.36 523.182C138.533 523.875 139.547 524.195 140.4 524.142C141.253 524.035 141.813 523.449 142.08 522.382L142.32 521.422L144 521.422L144 533.022Z" fill="white"/>
        <path class="romanNumerals" id="X" d="M184.594 347.231L183.14 346.389L183.512 344.94C183.821 343.763 183.881 342.75 183.692 341.902C183.484 340.98 183.092 339.952 182.515 338.817L172.509 319.158L146.428 319.403C145.186 319.423 144.214 319.507 143.513 319.656C142.812 319.805 142.034 320.248 141.179 320.985L140.085 321.924L138.631 321.082L149.129 302.848L150.583 303.69L150.13 305.277C149.849 306.408 150.027 307.22 150.666 307.713C151.305 308.206 152.269 308.456 153.558 308.463L169.002 308.253L161.73 294.429C161.107 293.267 160.439 292.449 159.727 291.975C158.996 291.428 158.209 291.62 157.366 292.549L156.41 293.567L154.956 292.726L160.864 282.465L162.318 283.306L161.815 285.142C161.487 286.246 161.44 287.236 161.675 288.111C161.89 288.913 162.299 289.859 162.903 290.948L171.758 308.277L200.237 308.034C201.453 308.06 202.475 307.943 203.302 307.682C204.109 307.348 204.927 306.836 205.756 306.145L206.97 304.999L208.424 305.84L197.487 324.837L196.033 323.995L196.554 322.448C196.909 321.298 196.757 320.439 196.098 319.873C195.466 319.261 194.469 318.961 193.108 318.974L175.334 319.222L183.757 335.376C184.426 336.565 185.144 337.35 185.909 337.731C186.701 338.066 187.478 337.838 188.241 337.048L188.928 336.336L190.382 337.178L184.594 347.231Z" fill="white"/>
        <path class="romanNumerals" id="XI" d="M303.213 208.058L302.375 206.602L303.422 205.534C304.277 204.669 304.836 203.822 305.097 202.993C305.378 202.091 305.552 201.004 305.62 199.732L306.784 177.704L284.075 164.876C282.989 164.272 282.105 163.86 281.423 163.638C280.742 163.416 279.847 163.411 278.737 163.622L277.321 163.887L276.482 162.431L294.691 151.889L295.529 153.345L294.344 154.493C293.534 155.332 293.283 156.125 293.59 156.871C293.897 157.618 294.606 158.316 295.719 158.966L309.199 166.507L309.814 150.899C309.855 149.581 309.685 148.539 309.306 147.772C308.946 146.933 308.168 146.705 306.974 147.089L305.637 147.493L304.799 146.037L315.046 140.105L315.884 141.56L314.531 142.898C313.695 143.691 313.159 144.524 312.925 145.4C312.71 146.202 312.591 147.226 312.57 148.471L311.574 167.905L336.359 181.935C337.399 182.565 338.343 182.974 339.189 183.162C340.055 183.277 341.02 183.242 342.083 183.058L343.707 182.672L344.546 184.128L325.576 195.111L324.737 193.655L325.962 192.576C326.845 191.757 327.142 190.938 326.855 190.118C326.614 189.272 325.901 188.514 324.715 187.844L309.198 179.172L308.416 197.374C308.401 198.738 308.63 199.776 309.102 200.489C309.62 201.175 310.407 201.367 311.463 201.063L312.414 200.79L313.252 202.246L303.213 208.058ZM346.702 182.88L345.863 181.424L347.008 180.206C347.745 179.348 348.106 178.585 348.09 177.916C348.094 177.174 347.816 176.318 347.257 175.348L327.1 140.336C326.541 139.365 325.954 138.719 325.338 138.398C324.742 138.004 323.889 137.912 322.779 138.123L321.155 138.508L320.317 137.053L337.625 127.032L338.464 128.487L337.318 129.705C336.628 130.536 336.281 131.323 336.277 132.065C336.246 132.76 336.511 133.593 337.069 134.564L357.227 169.576C357.786 170.546 358.387 171.215 359.029 171.583C359.645 171.904 360.484 171.973 361.548 171.789L363.172 171.403L364.01 172.859L346.702 182.88Z" fill="white"/>
        <path class="romanNumerals" id="XII" d="M479.446 146V144.32L480.886 143.92C482.059 143.6 482.966 143.147 483.606 142.56C484.299 141.92 484.993 141.067 485.686 140L497.686 121.52L484.406 99.04C483.766 97.9733 483.206 97.1733 482.726 96.64C482.246 96.1067 481.473 95.6533 480.406 95.28L479.046 94.8V93.12H500.086V94.8L498.486 95.2C497.366 95.52 496.753 96.08 496.646 96.88C496.539 97.68 496.806 98.64 497.446 99.76L505.366 113.04L513.686 99.84C514.379 98.72 514.753 97.7333 514.806 96.88C514.913 95.9733 514.353 95.3867 513.126 95.12L511.766 94.8V93.12H523.606V94.8L521.766 95.28C520.646 95.5467 519.766 96 519.126 96.64C518.539 97.2267 517.926 98.0533 517.286 99.12L506.726 115.44L521.206 140C521.793 141.067 522.406 141.893 523.046 142.48C523.739 143.013 524.593 143.467 525.606 143.84L527.206 144.32V146H505.286V144.32L506.886 144C508.059 143.733 508.726 143.173 508.886 142.32C509.099 141.467 508.859 140.453 508.166 139.28L499.046 124L489.286 139.36C488.593 140.533 488.273 141.547 488.326 142.4C488.433 143.253 489.019 143.813 490.086 144.08L491.046 144.32V146H479.446ZM529.697 146V144.32L531.297 143.84C532.364 143.467 533.057 142.987 533.377 142.4C533.751 141.76 533.937 140.88 533.937 139.76V99.36C533.937 98.24 533.751 97.3867 533.377 96.8C533.057 96.16 532.364 95.6533 531.297 95.28L529.697 94.8V93.12H549.697V94.8L548.097 95.28C547.084 95.6533 546.391 96.16 546.017 96.8C545.644 97.3867 545.457 98.24 545.457 99.36V139.76C545.457 140.88 545.644 141.76 546.017 142.4C546.391 142.987 547.084 143.467 548.097 143.84L549.697 144.32V146H529.697ZM553.369 146V144.32L554.969 143.84C556.036 143.467 556.729 142.987 557.049 142.4C557.422 141.76 557.609 140.88 557.609 139.76V99.36C557.609 98.24 557.422 97.3867 557.049 96.8C556.729 96.16 556.036 95.6533 554.969 95.28L553.369 94.8V93.12H573.369V94.8L571.769 95.28C570.756 95.6533 570.062 96.16 569.689 96.8C569.316 97.3867 569.129 98.24 569.129 99.36V139.76C569.129 140.88 569.316 141.76 569.689 142.4C570.062 142.987 570.756 143.467 571.769 143.84L573.369 144.32V146H553.369Z" fill="white"/>
        </g>
        <g id="OuterClock">
        <g id="HalfUpClock">
        <path id="Dot" d="M992.479 526.673L1028.96 526.673" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_2" d="M991.838 551.175L1028.27 553.084" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_3" d="M989.915 575.609L1026.19 579.422" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_4" d="M986.716 599.909L1022.75 605.615" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_5" d="M982.249 624.008L1017.93 631.592" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_6" d="M976.527 647.84L1011.76 657.282" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_7" d="M969.566 671.341L1004.26 682.613" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_8" d="M961.385 694.444L995.441 707.517" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_9" d="M952.005 717.088L985.331 731.926" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_10" d="M941.453 739.21L973.957 755.772" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_11" d="M929.759 760.75L961.351 778.989" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_12" d="M916.953 781.648L947.547 801.516" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_13" d="M903.07 801.847L932.583 823.289" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_14" d="M888.15 821.291L916.5 844.249" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_15" d="M872.232 839.929L899.341 864.338" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_16" d="M855.36 857.707L881.155 883.502" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_17" d="M837.582 874.579L861.992 901.688" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_18" d="M818.944 890.497L841.902 918.847" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_19" d="M799.5 905.417L820.942 934.929" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_20" d="M779.301 919.299L799.169 949.894" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_21" d="M758.403 932.106L776.643 963.698" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_22" d="M736.863 943.801L753.425 976.304" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_23" d="M714.741 954.352L729.579 987.678" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_24" d="M692.097 963.732L705.17 997.788" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_25" d="M668.994 971.913L680.267 1006.61" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_26" d="M645.494 978.874L654.935 1014.11" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_27" d="M621.661 984.596L629.246 1020.28" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_28" d="M597.562 989.062L603.269 1025.09" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_29" d="M573.262 992.261L577.075 1028.54" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_30" d="M548.828 994.185L550.737 1030.61" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_31" d="M524.327 994.826L524.327 1031.31" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_32" d="M499.825 994.185L497.916 1030.61" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_33" d="M475.391 992.261L471.578 1028.54" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_34" d="M451.091 989.062L445.385 1025.09" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_35" d="M426.992 984.596L419.408 1020.28" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_36" d="M403.16 978.874L393.718 1014.11" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_37" d="M379.659 971.913L368.387 1006.61" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_38" d="M356.556 963.732L343.483 997.788" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_39" d="M333.912 954.352L319.074 987.678" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_40" d="M311.79 943.8L295.229 976.304" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_41" d="M290.25 932.105L272.011 963.698" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_42" d="M269.352 919.299L249.484 949.894" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_43" d="M249.153 905.417L227.711 934.929" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_44" d="M229.709 890.496L206.751 918.846" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_45" d="M211.071 874.579L186.662 901.688" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_46" d="M193.293 857.707L167.498 883.502" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_47" d="M176.421 839.929L149.312 864.338" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_48" d="M160.503 821.291L132.153 844.249" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_49" d="M145.583 801.847L116.071 823.289" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_50" d="M131.701 781.648L101.106 801.516" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_51" d="M118.894 760.75L87.3022 778.989" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_52" d="M107.2 739.21L74.6962 755.772" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_53" d="M96.6478 717.088L63.3222 731.926" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_54" d="M87.2686 694.444L53.2121 707.517" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_55" d="M79.0868 671.34L44.3928 682.613" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_56" d="M72.1256 647.84L36.8892 657.282" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_57" d="M66.4043 624.008L30.722 631.592" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_58" d="M61.9375 599.909L25.9072 605.615" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_59" d="M58.7385 575.609L22.4589 579.422" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_60" d="M56.8154 551.175L20.386 553.084" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_61" d="M56.174 526.673L19.6945 526.673" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <g id="HalfUpClock_2">
        <path id="Dot_62" d="M992.785 524.632L1029.26 524.632" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_63" d="M992.144 500.131L1028.57 498.222" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_64" d="M990.22 475.697L1026.5 471.884" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_65" d="M987.022 451.397L1023.05 445.69" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_66" d="M982.555 427.298L1018.24 419.713" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_67" d="M976.833 403.465L1012.07 394.024" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_68" d="M969.872 379.965L1004.57 368.692" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_69" d="M961.691 356.861L995.747 343.788" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_70" d="M952.311 334.217L985.637 319.38" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_71" d="M941.759 312.095L974.263 295.534" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_72" d="M930.064 290.556L961.657 272.316" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_73" d="M917.258 269.658L947.852 249.79" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_74" d="M903.376 249.459L932.888 228.017" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_75" d="M888.455 230.014L916.805 207.057" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_76" d="M872.538 211.377L899.647 186.968" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_77" d="M855.666 193.598L881.461 167.803" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_78" d="M837.888 176.727L862.297 149.617" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_79" d="M819.25 160.809L842.207 132.459" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_80" d="M799.806 145.889L821.248 116.376" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_81" d="M779.607 132.006L799.475 101.412" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_82" d="M758.708 119.2L776.948 87.6078" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_83" d="M737.169 107.505L753.73 75.0015" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_84" d="M715.047 96.9535L729.885 63.6279" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_85" d="M692.403 87.5742L705.476 53.5177" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_86" d="M669.299 79.3925L680.572 44.6985" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_87" d="M645.799 72.4313L655.241 37.1948" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_88" d="M621.967 66.7099L629.551 31.0276" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_89" d="M597.868 62.2431L603.574 26.2128" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_90" d="M573.568 59.0442L577.381 22.7646" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_91" d="M549.134 57.1211L551.043 20.6917" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_92" d="M524.632 56.4796L524.632 20.0002" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_93" d="M500.131 57.1211L498.222 20.6917" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_94" d="M475.697 59.0442L471.884 22.7646" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_95" d="M451.397 62.2431L445.69 26.2128" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_96" d="M427.298 66.7099L419.713 31.0276" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_97" d="M403.465 72.4313L394.024 37.1948" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_98" d="M379.965 79.3925L368.692 44.6985" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_99" d="M356.861 87.5742L343.788 53.5177" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_100" d="M334.217 96.9535L319.38 63.6279" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_101" d="M312.096 107.505L295.534 75.0018" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_102" d="M290.556 119.2L272.316 87.6081" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_103" d="M269.658 132.006L249.79 101.412" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_104" d="M249.459 145.889L228.017 116.376" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_105" d="M230.014 160.809L207.057 132.459" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_106" d="M211.377 176.727L186.968 149.617" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_107" d="M193.598 193.598L167.803 167.803" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_108" d="M176.727 211.377L149.617 186.968" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_109" d="M160.809 230.014L132.459 207.057" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_110" d="M145.889 249.459L116.376 228.017" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_111" d="M132.006 269.658L101.412 249.79" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_112" d="M119.2 290.556L87.6078 272.316" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_113" d="M107.505 312.095L75.0018 295.534" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_114" d="M96.9535 334.217L63.6279 319.38" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_115" d="M87.5742 356.861L53.5177 343.788" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_116" d="M79.3925 379.965L44.6985 368.692" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_117" d="M72.4313 403.465L37.1948 394.024" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_118" d="M66.71 427.298L31.0277 419.713" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_119" d="M62.2432 451.397L26.2129 445.69" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_120" d="M59.0442 475.697L22.7646 471.884" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_121" d="M57.1211 500.131L20.6917 498.222" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_122" d="M56.4796 524.632L20.0002 524.632" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        </g>
        <g id="InnerClock">
        <circle id="Ellipse 2" cx="525.5" cy="525.501" r="341.507" stroke="white" stroke-width="10"/>
        <circle id="Ellipse 3" cx="525.5" cy="525.501" r="306.3" stroke="white" stroke-width="10"/>
        <g id="Radial">
        <line id="Line 14" y1="-5" x2="30.5463" y2="-5" transform="matrix(-1 0 0 1 219.233 525.501)" stroke="white" stroke-width="10"/>
        <line id="Line 14_2" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.965926 -0.258819 -0.258819 0.965926 229.669 446.233)" stroke="white" stroke-width="10"/>
        <line id="Line 14_3" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.866026 -0.5 -0.5 0.866026 260.265 372.368)" stroke="white" stroke-width="10"/>
        <line id="Line 14_4" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 308.936 308.938)" stroke="white" stroke-width="10"/>
        <line id="Line 14_5" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.5 -0.866026 -0.866026 0.5 372.366 260.266)" stroke="white" stroke-width="10"/>
        <line id="Line 14_6" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.258819 -0.965926 -0.965926 0.258819 446.232 229.67)" stroke="white" stroke-width="10"/>
        <line id="Line 14_7" y1="-5" x2="30.5463" y2="-5" transform="matrix(0 -1 -1 0 525.5 219.234)" stroke="white" stroke-width="10"/>
        <line id="Line 14_8" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.258819 -0.965926 -0.965926 -0.258819 604.767 229.67)" stroke="white" stroke-width="10"/>
        <line id="Line 14_9" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.5 -0.866026 -0.866026 -0.5 678.633 260.266)" stroke="white" stroke-width="10"/>
        <line id="Line 14_10" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 742.063 308.938)" stroke="white" stroke-width="10"/>
        <line id="Line 14_11" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.866026 -0.5 -0.5 -0.866026 790.735 372.368)" stroke="white" stroke-width="10"/>
        <line id="Line 14_12" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.965926 -0.258819 -0.258819 -0.965926 821.33 446.233)" stroke="white" stroke-width="10"/>
        <line id="Line 14_13" y1="-5" x2="30.5463" y2="-5" transform="matrix(1 0 0 -1 831.766 525.501)" stroke="white" stroke-width="10"/>
        <line id="Line 14_14" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.965926 0.258819 0.258819 -0.965926 821.33 604.769)" stroke="white" stroke-width="10"/>
        <line id="Line 14_15" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.866026 0.5 0.5 -0.866026 790.735 678.634)" stroke="white" stroke-width="10"/>
        <line id="Line 14_16" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.707107 0.707107 0.707107 -0.707107 742.063 742.064)" stroke="white" stroke-width="10"/>
        <line id="Line 14_17" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.5 0.866026 0.866026 -0.5 678.633 790.735)" stroke="white" stroke-width="10"/>
        <line id="Line 14_18" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.258819 0.965926 0.965926 -0.258819 604.767 821.331)" stroke="white" stroke-width="10"/>
        <line id="Line 14_19" y1="-5" x2="30.5463" y2="-5" transform="matrix(0 1 1 0 525.5 831.768)" stroke="white" stroke-width="10"/>
        <line id="Line 14_20" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.258819 0.965926 0.965926 0.258819 446.232 821.331)" stroke="white" stroke-width="10"/>
        <line id="Line 14_21" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.5 0.866026 0.866026 0.5 372.366 790.735)" stroke="white" stroke-width="10"/>
        <line id="Line 14_22" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 308.936 742.064)" stroke="white" stroke-width="10"/>
        <line id="Line 14_23" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.866026 0.5 0.5 0.866026 260.265 678.634)" stroke="white" stroke-width="10"/>
        <line id="Line 14_24" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.965926 0.258819 0.258819 0.965926 229.669 604.769)" stroke="white" stroke-width="10"/>
        </g>
        </g>
        <g id="MajorArrow">
        <g id="Group 2">
        <line id="Line 15" y1="-3" x2="223.562" y2="-3" transform="matrix(-0.00756004 0.999971 0.999971 0.00756004 526.694 524.74)" stroke="white" stroke-width="6"/>
        <g id="Group 1">
        <path id="Polygon 4" d="M522.338 743.086L510.475 763.28L533.895 763.457L522.338 743.086Z" fill="white"/>
        <path id="Polygon 5" d="M521.907 800.096L510.475 763.28L533.895 763.457L521.907 800.096Z" fill="white"/>
        <path id="Polygon 6" d="M521.747 821.292L516.078 775.748L528.105 775.839L521.747 821.292Z" fill="white"/>
        </g>
        <rect id="Rectangle 10" x="552.966" y="626.835" width="42.0304" height="42.0304" transform="rotate(135.433 552.966 626.835)" stroke="white" stroke-width="5"/>
        <rect id="Rectangle 11" x="547.908" y="699.775" width="35.7159" height="35.7159" transform="rotate(135.433 547.908 699.775)" stroke="white" stroke-width="5"/>
        <circle id="Ellipse 4" cx="523.989" cy="524.72" r="13.5219" transform="rotate(-179.567 523.989 524.72)" fill="white"/>
        <line id="Line 17" x1="523.667" y1="528.324" x2="523.966" y2="488.66" stroke="white" stroke-width="6"/>
        </g>
        <g id="Group 3">
        <circle id="Ellipse 4_2" cx="13.5219" cy="13.5219" r="13.5219" transform="matrix(-0.999971 -0.00756004 -0.00756004 0.999971 537.634 511.377)" fill="white"/>
        </g>
        </g>
        <g id="MinorArrow">
        <g id="Group 2_2">
        <line id="Line 15_2" y1="-3" x2="186.648" y2="-3" transform="matrix(-0.00756004 0.999971 0.999971 0.00756004 526.965 524.743)" stroke="white" stroke-width="6"/>
        <g id="Group 1_2">
        <path id="Polygon 4_2" d="M523.329 707.036L513.424 723.896L532.977 724.044L523.329 707.036Z" fill="white"/>
        <path id="Polygon 5_2" d="M522.969 754.633L513.424 723.896L532.977 724.044L522.969 754.633Z" fill="white"/>
        <path id="Polygon 6_2" d="M522.835 772.329L518.102 734.305L528.143 734.381L522.835 772.329Z" fill="white"/>
        </g>
        <rect id="Rectangle 10_2" x="548.9" y="609.98" width="35.0905" height="35.0905" transform="rotate(135.433 548.9 609.98)" stroke="white" stroke-width="5"/>
        <rect id="Rectangle 11_2" x="544.676" y="670.877" width="29.8186" height="29.8186" transform="rotate(135.433 544.676 670.877)" stroke="white" stroke-width="5"/>
        <circle id="Ellipse 4_3" cx="524.707" cy="524.727" r="11.2892" transform="rotate(-179.567 524.707 524.727)" fill="white"/>
        <line id="Line 17_2" x1="523.942" y1="527.731" x2="524.193" y2="494.617" stroke="white" stroke-width="6"/>
        </g>
        <g id="Group 3_2">
        <circle id="Ellipse 4_4" cx="11.2892" cy="11.2892" r="11.2892" transform="matrix(-0.999971 -0.00756004 -0.00756004 0.999971 536.099 513.587)" fill="white"/>
        </g>
        </g>
        </g>
        <defs>
        <filter id="filter0_d_59_13" x="0.19458" y="0.500183" width="1048.57" height="1050.31" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset/>
        <feGaussianBlur stdDeviation="7.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_59_13"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_59_13" result="shape"/>
        </filter>
        </defs>
        </svg>
        
        
        
        
    </div>
  </div>