---
---

<div class="main_container">
    <svg width="533" height="800" viewBox="0 0 533 800" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Poker">
        <rect id="PokerBase" width="533" height="800" rx="35" fill="white"/>
        <rect id="PokerBase_2" x="15.9995" y="25.0002" width="500" height="750" rx="35" fill="black"/>
        <g id="Decorators">
        <path id="?&#226;&#128;&#168;?" d="M54.7704 106H48.0504V98.0002C48.0504 96.4002 48.6904 95.0669 49.9704 94.0002L51.8904 92.4002C53.1704 91.3336 54.4504 90.8002 55.7304 90.8002H60.9304C61.8904 90.8002 62.5038 90.7736 62.7704 90.7202C63.0371 90.6136 63.4104 90.3736 63.8904 90.0002C64.3704 89.6269 64.6371 89.3336 64.6904 89.1202C64.7971 88.8536 64.8504 88.3202 64.8504 87.5202V74.8802C64.8504 74.0802 64.7971 73.5736 64.6904 73.3602C64.6371 73.0936 64.3704 72.7736 63.8904 72.4002C63.4104 72.0269 63.0371 71.8136 62.7704 71.7602C62.5038 71.6536 61.8904 71.6002 60.9304 71.6002H47.6504C46.6904 71.6002 46.0771 71.6536 45.8104 71.7602C45.5438 71.8136 45.1704 72.0269 44.6904 72.4002C44.2104 72.7736 43.9171 73.0936 43.8104 73.3602C43.7571 73.5736 43.7304 74.0802 43.7304 74.8802V76.4002H37.0104V73.2002C37.0104 71.6002 37.6504 70.2669 38.9304 69.2002L40.8504 67.6002C42.1304 66.5336 43.4104 66.0002 44.6904 66.0002H63.8904C65.1704 66.0002 66.4504 66.5336 67.7304 67.6002L69.6504 69.2002C70.9304 70.2669 71.5704 71.6002 71.5704 73.2002V89.7602C71.5704 90.9869 70.9838 92.0802 69.8104 93.0402L67.7304 94.8002C66.4504 95.8669 65.1704 96.4002 63.8904 96.4002H58.6904C57.7304 96.4002 57.1171 96.4536 56.8504 96.5602C56.5838 96.6136 56.2104 96.8269 55.7304 97.2002C55.2504 97.5736 54.9571 97.8936 54.8504 98.1602C54.7971 98.3736 54.7704 98.8802 54.7704 99.6802V106ZM54.7704 119.12V117.28C54.7704 116.16 54.5571 115.387 54.1304 114.96C53.7038 114.587 52.8504 114.4 51.5704 114.4H51.2504C49.9704 114.4 49.1438 114.587 48.7704 114.96C48.3971 115.28 48.1838 115.547 48.1304 115.76C48.0771 115.974 48.0504 116.48 48.0504 117.28V119.12C48.0504 120.24 48.2638 121.014 48.6904 121.44C49.1171 121.814 49.9704 122 51.2504 122H51.6504C52.8771 122 53.6771 121.814 54.0504 121.44C54.4238 121.12 54.6371 120.854 54.6904 120.64C54.7438 120.427 54.7704 119.92 54.7704 119.12ZM54.7704 186H48.0504V178C48.0504 176.4 48.6904 175.067 49.9704 174L51.8904 172.4C53.1704 171.334 54.4504 170.8 55.7304 170.8H60.9304C61.8904 170.8 62.5038 170.774 62.7704 170.72C63.0371 170.614 63.4104 170.374 63.8904 170C64.3704 169.627 64.6371 169.334 64.6904 169.12C64.7971 168.854 64.8504 168.32 64.8504 167.52V154.88C64.8504 154.08 64.7971 153.574 64.6904 153.36C64.6371 153.094 64.3704 152.774 63.8904 152.4C63.4104 152.027 63.0371 151.814 62.7704 151.76C62.5038 151.654 61.8904 151.6 60.9304 151.6H47.6504C46.6904 151.6 46.0771 151.654 45.8104 151.76C45.5438 151.814 45.1704 152.027 44.6904 152.4C44.2104 152.774 43.9171 153.094 43.8104 153.36C43.7571 153.574 43.7304 154.08 43.7304 154.88V156.4H37.0104V153.2C37.0104 151.6 37.6504 150.267 38.9304 149.2L40.8504 147.6C42.1304 146.534 43.4104 146 44.6904 146H63.8904C65.1704 146 66.4504 146.534 67.7304 147.6L69.6504 149.2C70.9304 150.267 71.5704 151.6 71.5704 153.2V169.76C71.5704 170.987 70.9838 172.08 69.8104 173.04L67.7304 174.8C66.4504 175.867 65.1704 176.4 63.8904 176.4H58.6904C57.7304 176.4 57.1171 176.454 56.8504 176.56C56.5838 176.614 56.2104 176.827 55.7304 177.2C55.2504 177.574 54.9571 177.894 54.8504 178.16C54.7971 178.374 54.7704 178.88 54.7704 179.68V186ZM54.7704 199.12V197.28C54.7704 196.16 54.5571 195.387 54.1304 194.96C53.7038 194.587 52.8504 194.4 51.5704 194.4H51.2504C49.9704 194.4 49.1438 194.587 48.7704 194.96C48.3971 195.28 48.1838 195.547 48.1304 195.76C48.0771 195.974 48.0504 196.48 48.0504 197.28V199.12C48.0504 200.24 48.2638 201.014 48.6904 201.44C49.1171 201.814 49.9704 202 51.2504 202H51.6504C52.8771 202 53.6771 201.814 54.0504 201.44C54.4238 201.12 54.6371 200.854 54.6904 200.64C54.7438 200.427 54.7704 199.92 54.7704 199.12Z" fill="white"/>
        <path id="?&#226;&#128;&#168;?_2" d="M478.229 647H484.949V639C484.949 637.4 484.309 636.067 483.029 635L481.109 633.4C479.829 632.333 478.549 631.8 477.269 631.8H472.069C471.109 631.8 470.495 631.773 470.229 631.72C469.962 631.613 469.589 631.373 469.109 631C468.629 630.627 468.362 630.333 468.309 630.12C468.202 629.853 468.149 629.32 468.149 628.52V615.88C468.149 615.08 468.202 614.573 468.309 614.36C468.362 614.093 468.629 613.773 469.109 613.4C469.589 613.027 469.962 612.813 470.229 612.76C470.495 612.653 471.109 612.6 472.069 612.6H485.349C486.309 612.6 486.922 612.653 487.189 612.76C487.455 612.813 487.829 613.027 488.309 613.4C488.789 613.773 489.082 614.093 489.189 614.36C489.242 614.573 489.269 615.08 489.269 615.88V617.4H495.989V614.2C495.989 612.6 495.349 611.267 494.069 610.2L492.149 608.6C490.869 607.533 489.589 607 488.309 607H469.109C467.829 607 466.549 607.533 465.269 608.6L463.349 610.2C462.069 611.267 461.429 612.6 461.429 614.2V630.76C461.429 631.987 462.015 633.08 463.189 634.04L465.269 635.8C466.549 636.867 467.829 637.4 469.109 637.4H474.309C475.269 637.4 475.882 637.453 476.149 637.56C476.415 637.613 476.789 637.827 477.269 638.2C477.749 638.573 478.042 638.893 478.149 639.16C478.202 639.373 478.229 639.88 478.229 640.68V647ZM478.229 660.12V658.28C478.229 657.16 478.442 656.387 478.869 655.96C479.295 655.587 480.149 655.4 481.429 655.4H481.749C483.029 655.4 483.855 655.587 484.229 655.96C484.602 656.28 484.815 656.547 484.869 656.76C484.922 656.973 484.949 657.48 484.949 658.28V660.12C484.949 661.24 484.735 662.013 484.309 662.44C483.882 662.813 483.029 663 481.749 663H481.349C480.122 663 479.322 662.813 478.949 662.44C478.575 662.12 478.362 661.853 478.309 661.64C478.255 661.427 478.229 660.92 478.229 660.12ZM478.229 727H484.949V719C484.949 717.4 484.309 716.067 483.029 715L481.109 713.4C479.829 712.333 478.549 711.8 477.269 711.8H472.069C471.109 711.8 470.495 711.773 470.229 711.72C469.962 711.613 469.589 711.373 469.109 711C468.629 710.627 468.362 710.333 468.309 710.12C468.202 709.853 468.149 709.32 468.149 708.52V695.88C468.149 695.08 468.202 694.573 468.309 694.36C468.362 694.093 468.629 693.773 469.109 693.4C469.589 693.027 469.962 692.813 470.229 692.76C470.495 692.653 471.109 692.6 472.069 692.6H485.349C486.309 692.6 486.922 692.653 487.189 692.76C487.455 692.813 487.829 693.027 488.309 693.4C488.789 693.773 489.082 694.093 489.189 694.36C489.242 694.573 489.269 695.08 489.269 695.88V697.4H495.989V694.2C495.989 692.6 495.349 691.267 494.069 690.2L492.149 688.6C490.869 687.533 489.589 687 488.309 687H469.109C467.829 687 466.549 687.533 465.269 688.6L463.349 690.2C462.069 691.267 461.429 692.6 461.429 694.2V710.76C461.429 711.987 462.015 713.08 463.189 714.04L465.269 715.8C466.549 716.867 467.829 717.4 469.109 717.4H474.309C475.269 717.4 475.882 717.453 476.149 717.56C476.415 717.613 476.789 717.827 477.269 718.2C477.749 718.573 478.042 718.893 478.149 719.16C478.202 719.373 478.229 719.88 478.229 720.68V727ZM478.229 740.12V738.28C478.229 737.16 478.442 736.387 478.869 735.96C479.295 735.587 480.149 735.4 481.429 735.4H481.749C483.029 735.4 483.855 735.587 484.229 735.96C484.602 736.28 484.815 736.547 484.869 736.76C484.922 736.973 484.949 737.48 484.949 738.28V740.12C484.949 741.24 484.735 742.013 484.309 742.44C483.882 742.813 483.029 743 481.749 743H481.349C480.122 743 479.322 742.813 478.949 742.44C478.575 742.12 478.362 741.853 478.309 741.64C478.255 741.427 478.229 740.92 478.229 740.12Z" fill="white"/>
        </g>
        <g id="VZF">
        <line id="Line 18" x1="272.857" y1="607.46" x2="385.444" y2="187.283" stroke="white" stroke-width="21"/>
        <line id="Line 19" y1="-10.5" x2="435" y2="-10.5" transform="matrix(-0.258819 -0.965926 -0.965926 0.258819 265.656 610.178)" stroke="white" stroke-width="21"/>
        <line id="Line 20" x1="78.9062" y1="349.557" x2="167.406" y2="196.271" stroke="white" stroke-width="21"/>
        <line id="Line 21" x1="71.9995" y1="352.021" x2="436.999" y2="352.021" stroke="white" stroke-width="21"/>
        <line id="Line 22" x1="429.349" y1="353.614" x2="162.613" y2="507.614" stroke="white" stroke-width="21"/>
        <line id="Line 23" x1="461" y1="509.021" x2="153" y2="509.021" stroke="white" stroke-width="21"/>
        </g>
        </g>
        </svg>
        
        
        
</div>
<style>
    :root {
        --pokerXRotate: 20deg;
        --pokerYRotate: 20deg;
        --pokerZRotate: -80deg
    }
    html {
        font-size: 16px;
    }
    .main_container {
        z-index: -5;
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: Poker 1s linear;
        animation-timeline: scroll(block nearest);
        
        opacity: 0;
    }

    svg {
        width: 50vw;
        height: 75vh;
    }

    @keyframes Poker {
        15% {
            transform:scale(1);
            filter: brightness(1) ;
            opacity: 0;
        }

        25% {
            transform:scale(1.25);
            filter: brightness(1) ;
            opacity: 1;
        }

        50% {
            transform:scale(1);
            filter: brightness(1) ;
            opacity: 0;
        }

        100% {
            filter: brightness(0) ;
        }
    }
</style>