---
import Image from "astro/components/Image.astro"
import OjanHacker from '../images/OjanHacker.jpg'
---
<div class="introMain">
  <h1>
    A (Junior) Software Engineer
  </h1>
  <h2>
    Hi there, the name's Fauzan Rizky Naufal. But you can just call me Ojan, 
    i'm a highschool student in Indonesia. And since i was a kid, i am super interested in learning about computers and technologies.
    From simple to complicated stuffs, Python is my go to language. 
  </h2>
  <h2>
    Aside from the world of programming, i usually unwind myself with playing videogames. 
    Both videogames and programming have been my favorite things since i was a child, they have a special place in my heart that i will never forget.
  </h2>
</div>
<style>
  html {
    font-size: 16px;
  }
  * {
    /* border: 1px solid red; */
    color: white;
    font-family: "Rajdhani";
    text-align: justify;
    margin: 0;
    padding: 0;
  }

  h1 {
    backdrop-filter: blur(5px);
    font-weight: 900;
    font-size: clamp(1rem, 8vw, 9rem);
    width: fit-content;
    text-shadow: 0px 0px 15px white;
  }

  h1::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 100%;
    
    animation: Reveal 1s ease-out;
    animation-timeline: view();
    animation-range: entry 60% cover 200%;
     animation-timing-function: steps(29);
    animation-fill-mode: forwards;
  }

  h2 {
    font-size: clamp(0.5rem, 4.5vw, 2rem);
    font-weight: 600;
    backdrop-filter: blur(5px);
    width: 80vw;
  }

  h2::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 100%;
    
    animation: Reveal 1s ease-out;
    animation-timeline: view();
    animation-range: entry 60% cover 150%;
    animation-fill-mode: forwards;
  }

  .introMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    width: 100vw;
    height: 95vh;
  }

  @media only screen and (max-width: 720px) {
    h1::after, h2::after {
      animation: none;
      width: 0%;
    }
  }

  @keyframes Reveal {
    0% {
      width: 100%;
    }

    2.5% {
      width: 100%;
    }

    15% {
      width: 0%;
    }

    100% {
      width: 0%;
    }
  }
</style>
