---
---

<div class="flex row w100 h100">
    <div class="flex column w50 h100">
        <h5 class="pad1">
            About Me
        </h5>
        <p class="pad1">
            Hi there! you can call me Ojan or Fauzan.
            I'm an enthusiastic 11th grade high school student with a deep passion for coding and technology. 
            My journey in the world of programming began with Python, 
            which remains my primary and favorite language due to its simplicity and versatility. 
        </p>
        <p class="pad1">
            When I'm not immersed in code, I enjoy unwinding with video games.
            They provide a perfect balance of entertainment, challenge and strategic thinking. 
            Combining my love for programming and videogame, I often find myself exploring the intersection of technology and interactive entertainment.
        </p>
    </div>
    <div class="flex column w50">
        <div class="w100 h50">
            <h1>Profile</h1>
        </div>
        <div class="w100 h50">
            <h1>Skills chart</h1>
        </div>
    </div>
</div>

<style>
    html {
        font-family: "Rajdhani";
        font-size: 16px;
    }
    * {
        color: white;
        border: 1px solid white;
        margin: 0;
        padding: 0;
    }

    h5 {
        font-size: 1.5rem;
        font-weight: 700;
        border: none;
    }

    p {
        font-size: 1.25rem;
        font-weight: 600;
        color: #d4d4d4;
        border: none;
    }

    .flex {
        display: flex;
    }

    .row {
        flex-direction: row;
    }

    .column {
        flex-direction: column;
    }

    .w100 {
        width: 100%;
    }

    .w50 {
        width: 50%;
    }

    .h100 {
        height: 100%;
    }

    .h50 {
        height: 50%;
    }

    .pad1 {
        padding: 1%;
    }
</style>