---
import Image from "astro/components/Image.astro"
import OjanHacker from '../images/OjanHacker.jpg'
---

<div class="main_intro">
  <div class="data_title">
    <h1 class="data">ABOUT ME</h1>
  </div>
  <div class="main_container">
    <div class="half">
      <p class="p">
        Hi there! you can call me Ojan or Fauzan. I'm an enthusiastic 11th grade
        high school student with a deep passion for coding and technology. My
        journey in the world of programming began with Python, which remains my
        primary and favorite language due to its simplicity and versatility.
      </p>
      <p class="p">
        When I'm not immersed in code, I enjoy unwinding with video games. They
        provide a perfect balance of entertainment, challenge and strategic
        thinking. Combining my love for programming and videogame, I often find
        myself exploring the intersection of technology and interactive
        entertainment.
      </p>
    </div>
    <div class="half">
      <div class="half-height scan_results">
        <h4>SCAN RESULTS</h4>
        <h2>FAUZAN RIZKY NAUFAL</h2>
        <h4>AFFILIATION</h4>
        <h2 class="strip">-</h2>
      </div>
      <div class="half-height profile_scan">
        <Image src={OjanHacker} class="profile_pic" alt="ojan's pic" />
        <div class="profile_records">
            <h2>Records</h2>
            <a target="_blank" href="https://github.com/nvll-zen/-nethack">~> -nethack</a>
            <a target="_blank" href="https://scefco.pages.dev">~> scefco.pages.dev</a>
            <a target="_blank" href="https://zenriel.tech">~> zenriel.tech</a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  html {
    font-family: "Rajdhani";
    font-size: 16px;
  }

  a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    transition: all 0.5s linear;
  }

  a:hover {
    background: white;
    color: black;
    transition: all 0.5s linear;
  }
  
  * {
    color: white;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
  }

  h5 {
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
  }

  p {
    font-size: 1.25rem;
    font-weight: 600;
    color: #d4d4d4;
    border: none;
  }

  p::after {
    content: "";
    width: 100%;
    background-color: white;
    height: 100%;
  }

  p, h2 {
    animation: scrollFG 1s linear;
    animation-timeline: view();
  }

  .main_intro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .data_title {
    width: 86.25%;
  }

  .data {
    border: 1px solid white;
    padding: 0.5% 1%;
    border-bottom: none;
    width: fit-content;
  }

  .main_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
  }

  .half {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1%;
    border: 1px solid white;
  }

  .half-height {
    height: 50%;
  }

  .profile_records {
    display: flex;
    flex-direction: column;
  }

  .profile_scan {
    display: flex;
    flex-direction: row;
    gap: 5%;
  }

  .strip {
    font-weight: 900;
  }

  .profile_pic {
    height: max-content;
    width: 30%;
    filter: grayscale(0);
  }

  @keyframes scrollFG {
    0% {
      background: white;
      color: white;
    }

    20% {
      background: white;
      color: white;
    }

    35% {
      background: transparent;
    }
  }
</style>
