---
import Navbar from "../components/navbar.astro";
import Clock from "../components/clock.astro";
import HuhPoker from "../components/huhpoker.astro"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>V. Zenriel</title>
    
    <style>
      

      
    </style>
  </head>
  <body>
    <Navbar />
    <Clock />
    <HuhPoker />
    <!-- <video
      id="background-video"
      autoplay
      loop
      muted
      poster="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTogPfhbLOk_neriTUlJLrzYaVQG1DszGsBLQ&s"
    >
      <source src="/matrix.mp4" type="video/mp4" />
    </video> -->
    <slot />
  </body>
</html>
