---
import Navbar from "../components/navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>V. Zenriel</title>
    <script>
      window.onload = () => {
        main();
      };

      function main() {
        function getRandomInt(min, max) {
          const minCeiled = Math.ceil(min);
          const maxFloored = Math.floor(max);
          return Math.floor(
            Math.random() * (maxFloored - minCeiled) + minCeiled,
          ); // The maximum is exclusive and the minimum is inclusive
        }
        const clockNumerals = document.getElementById("ClockNumerals");
        const innerClock = document.getElementById("InnerClock");
        const outerClock = document.getElementById("OuterClock");

        function setArrow() {
          let d = new Date();
          let majorArrowRotation = d.getMinutes();
          let minorArrowRotation = d.getHours();
          document.documentElement.style.setProperty(
            "--majorArrowDeg",
            `${6 * majorArrowRotation + 180 + 720}deg`,
          );
          document.documentElement.style.setProperty(
            "--minorArrowDeg",
            `${30 * minorArrowRotation + 0.5 * majorArrowRotation + 180 + 720}deg`,
          );
          console.log("Yolo");
        }
        setArrow();

        outerClock.style.transform = `rotateZ(${getRandomInt(480, 720)}deg) rotateX(${180}deg) rotateY(${getRandomInt(420, 450)}deg)`;
        innerClock.style.transform = `rotateZ(-${getRandomInt(360, 720)}deg) rotateX(${180}deg) rotateY(-${getRandomInt(420, 450)}deg)`;
        clockNumerals.style.transform = `rotateZ(${getRandomInt(360, 720)}deg) rotateX(${getRandomInt(180, 270)}deg) rotateY(${getRandomInt(180, 270)}deg)`;
      }
    </script>
    <style>
      :root {
        --majorArrowDeg: 0deg;
        --minorArrowDeg: 0deg;
        --clockSize: 50vw;
        --blurRadius: 10px;
        --clockBrightness: 72.5%;
      }
      body {
        scroll-behavior: smooth;
        background: black;
        overflow-x: hidden;
      }
      * {
        padding: 0;
        margin: 0;
        /* border: 1px solid red; */
      }

      .clock_container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -5;
        position: fixed;
        animation: blurOut 3s ease-in-out;
        animation-delay: 3s;
        animation-fill-mode: forwards;
      }

      svg {
        height: max-content;
        transform-origin: center;
        animation-fill-mode: forwards;
        width: var(--clockSize);
        animation: scaleIn 2s ease-out;
      }

      #MainClock {
        transform-origin: center;
      }

      #ClockNumerals {
        transform-origin: center;
        animation: resetRotationIC 3s ease-out;
        animation-fill-mode: forwards;
      }

      #InnerClock {
        animation: resetRotationIC 3s ease-out;
        transform-origin: center;
        animation-fill-mode: forwards;
      }

      #OuterClock {
        animation: resetRotation 3s ease-out;
        transform-origin: center;
        animation-fill-mode: forwards;
      }

      #MajorArrow {
        transform-origin: center;
        transform: rotateZ(-326deg);
        animation: majorArrowSet 2.5s ease-out;
        animation-fill-mode: forwards;
      }

      #MinorArrow {
        transform-origin: center;
        transform: rotateZ(-640deg);
        animation: minorArrowSet 2.5s ease-out;
        animation-fill-mode: forwards;
      }

      .romanNumerals {
        animation: fadeInClock 0.5s linear;
        animation-fill-mode: forwards;
        opacity: 0;
      }

      @keyframes majorArrowSet {
        from {
          scale: 0.01;
        }
        to {
          transform: rotateZ(var(--majorArrowDeg));
        }
      }

      @keyframes minorArrowSet {
        from {
          scale: 0.01;
        }
        to {
          transform: rotateZ(var(--minorArrowDeg));
        }
      }

      @keyframes scaleIn {
        0% {
          width: 1vw;
          transform: translateY(35vh);
        }
        50% {
          scale: 2;
          transform: translateY(0vh);
        }

        100% {
          width: var(--clockSize);
        }
      }

      @keyframes blurOut {
        100% {
          filter: blur(2.5px) brightness(var(--clockBrightness));
        }
      }

      @keyframes fadeInClock {
        to {
          opacity: 1;
        }
      }

      @keyframes resetRotation {
        to {
          transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg) scale(1);
        }
      }

      @keyframes resetRotationIC {
        from {
          scale: 0.5;
        }
        to {
          transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg) scale(1);
        }
      }

      @media only screen and (max-width: 720px) {
        :root {
          --clockSize: 100vw;
          --blurRadius: 2.5px;
          --clockBrightness: 50%;
        }
      }
    </style>
  </head>
  <body>
    <Navbar />
    <div class="clock_container">
      <svg width="1051" height="1051" viewBox="0 0 1051 1051" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="MainClock" filter="url(#filter0_d_59_13)">
        <g id="ClockNumerals">
        <path class="romanNumerals" id="I" d="M733.804 150.957L735.684 147.701L756.537 159.741L754.657 162.997L748.478 160.26C746.778 163.097 745.052 165.981 743.299 168.91C741.619 171.82 739.912 174.776 738.179 177.778L736.459 180.757C734.779 183.667 733.086 186.6 731.379 189.556C729.745 192.493 728.098 195.452 726.438 198.435L731.897 202.418L730.017 205.675L709.164 193.635L711.044 190.378L717.223 193.115C718.969 190.305 720.695 187.421 722.402 184.465C724.108 181.509 725.815 178.553 727.522 175.597L729.242 172.618C730.922 169.708 732.602 166.798 734.282 163.889C735.988 160.933 737.649 157.95 739.263 154.94L733.804 150.957Z" fill="white"/>
        <path class="romanNumerals" id="II" d="M881.635 297.653L884.891 295.773L896.931 316.627L893.675 318.507L889.691 313.047C886.801 314.654 883.865 316.288 880.882 317.948C877.972 319.628 875.016 321.335 872.014 323.068L869.035 324.788C866.125 326.468 863.192 328.162 860.236 329.868C857.353 331.594 854.446 333.334 851.517 335.087L854.253 341.267L850.997 343.147L838.957 322.293L842.213 320.413L846.197 325.872C849.114 324.311 852.05 322.678 855.006 320.971C857.963 319.264 860.919 317.558 863.875 315.851L866.854 314.131C869.764 312.451 872.673 310.771 875.583 309.091C878.539 307.384 881.469 305.631 884.371 303.832L881.635 297.653ZM896.791 323.904L900.047 322.024L912.087 342.878L908.831 344.758L904.848 339.298C901.957 340.905 899.021 342.539 896.038 344.2C893.128 345.88 890.172 347.586 887.17 349.32L884.191 351.04C881.281 352.72 878.348 354.413 875.392 356.12C872.509 357.846 869.603 359.585 866.673 361.338L869.41 367.518L866.153 369.398L854.113 348.544L857.37 346.664L861.353 352.124C864.27 350.563 867.207 348.929 870.163 347.222C873.119 345.516 876.075 343.809 879.031 342.102L882.01 340.382C884.92 338.702 887.83 337.022 890.74 335.342C893.696 333.636 896.625 331.883 899.528 330.084L896.791 323.904Z" fill="white"/>
        <path class="romanNumerals" id="III" d="M946.783 484.688H950.543V508.768H946.783L946.063 502.048C942.756 501.995 939.396 501.941 935.983 501.888C932.623 501.888 929.21 501.888 925.743 501.888H922.303C918.943 501.888 915.556 501.888 912.143 501.888C908.783 501.941 905.396 501.995 901.983 502.048L901.263 508.768H897.503V484.688H901.263L901.983 491.408C905.29 491.515 908.65 491.568 912.063 491.568C915.476 491.568 918.89 491.568 922.303 491.568H925.743C929.103 491.568 932.463 491.568 935.823 491.568C939.236 491.568 942.65 491.515 946.063 491.408L946.783 484.688ZM946.783 515.001H950.543V539.081H946.783L946.063 532.361C942.756 532.307 939.396 532.254 935.983 532.201C932.623 532.201 929.21 532.201 925.743 532.201H922.303C918.943 532.201 915.556 532.201 912.143 532.201C908.783 532.254 905.396 532.307 901.983 532.361L901.263 539.081H897.503V515.001H901.263L901.983 521.721C905.29 521.827 908.65 521.881 912.063 521.881C915.476 521.881 918.89 521.881 922.303 521.881H925.743C929.103 521.881 932.463 521.881 935.823 521.881C939.236 521.881 942.65 521.827 946.063 521.721L946.783 515.001ZM946.783 545.313H950.543V569.393H946.783L946.063 562.673C942.756 562.62 939.396 562.566 935.983 562.513C932.623 562.513 929.21 562.513 925.743 562.513H922.303C918.943 562.513 915.556 562.513 912.143 562.513C908.783 562.566 905.396 562.62 901.983 562.673L901.263 569.393H897.503V545.313H901.263L901.983 552.033C905.29 552.14 908.65 552.193 912.063 552.193C915.476 552.193 918.89 552.193 922.303 552.193H925.743C929.103 552.193 932.463 552.193 935.823 552.193C939.236 552.193 942.65 552.14 946.063 552.033L946.783 545.313Z" fill="white"/>
        <path class="romanNumerals" id="IV" d="M909.726 702.432L912.982 704.312L900.942 725.166L897.686 723.286L900.423 717.107C897.586 715.407 894.702 713.681 891.773 711.928C888.863 710.248 885.907 708.541 882.905 706.808L879.926 705.088C877.016 703.408 874.083 701.715 871.127 700.008C868.19 698.374 865.231 696.727 862.248 695.067L858.265 700.526L855.008 698.646L867.048 677.792L870.305 679.672L867.568 685.852C870.378 687.598 873.262 689.324 876.218 691.031C879.174 692.737 882.13 694.444 885.086 696.151L888.065 697.871C890.975 699.551 893.885 701.231 896.794 702.911C899.75 704.617 902.733 706.278 905.743 707.892L909.726 702.432ZM895.69 726.744L898.946 728.624L887.066 749.201L883.741 747.281L886.648 740.645L849.599 733.296L874.418 761.667L878.541 756.287L881.866 758.207L872.906 773.727L869.65 771.847L872.058 765.755L838.295 726.955L841.055 722.174L892.485 731.175L895.69 726.744Z" fill="white"/>
        <path class="romanNumerals" id="V" d="M747.352 878.965L749.232 882.221L728.656 894.101L726.736 890.776L732.571 886.483L704.16 861.594L711.469 898.573L717.729 895.976L719.649 899.301L704.13 908.261L702.25 905.005L707.382 900.933L697.542 850.45L702.322 847.69L742.361 881.2L747.352 878.965Z" fill="white"/>
        <path class="romanNumerals" id="VI" d="M563.658 946.602V950.362H539.898V946.522L547.098 945.722L534.938 909.962L522.778 945.642L529.498 946.522V950.362H511.578V946.602L518.058 945.642L534.778 897.002H540.298L558.218 946.042L563.658 946.602ZM507.98 946.602V950.362H483.9V946.602L490.62 945.882C490.674 942.575 490.727 939.215 490.78 935.802C490.78 932.442 490.78 929.028 490.78 925.562V922.122C490.78 918.762 490.78 915.375 490.78 911.962C490.727 908.602 490.674 905.215 490.62 901.802L483.9 901.082V897.322H507.98V901.082L501.26 901.802C501.154 905.108 501.1 908.468 501.1 911.882C501.1 915.295 501.1 918.708 501.1 922.122V925.562C501.1 928.922 501.1 932.282 501.1 935.642C501.1 939.055 501.154 942.468 501.26 945.882L507.98 946.602Z" fill="white"/>
        <path class="romanNumerals" id="VII" d="M366.233 916.683L364.353 919.939L343.776 908.059L345.696 904.733L352.332 907.641L359.681 870.592L331.31 895.411L336.69 899.533L334.77 902.859L319.251 893.899L321.131 890.643L327.222 893.051L366.022 859.288L370.803 862.048L361.802 913.478L366.233 916.683ZM318.015 888.844L316.135 892.1L295.281 880.06L297.161 876.804L303.341 879.54C305.04 876.703 306.767 873.82 308.519 870.891C310.199 867.981 311.906 865.025 313.639 862.023L315.359 859.044C317.039 856.134 318.733 853.201 320.439 850.245C322.073 847.308 323.72 844.349 325.381 841.366L319.921 837.383L321.801 834.126L342.655 846.166L340.775 849.423L334.595 846.686C332.85 849.496 331.123 852.38 329.417 855.336C327.71 858.292 326.003 861.248 324.297 864.204L322.577 867.183C320.897 870.093 319.217 873.003 317.537 875.912C315.83 878.868 314.17 881.851 312.555 884.86L318.015 888.844ZM291.764 873.688L289.884 876.944L269.03 864.904L270.91 861.648L277.089 864.384C278.789 861.547 280.515 858.664 282.268 855.735C283.948 852.825 285.655 849.869 287.388 846.867L289.108 843.887C290.788 840.978 292.481 838.045 294.188 835.089C295.822 832.152 297.469 829.193 299.129 826.21L293.67 822.226L295.55 818.97L316.404 831.01L314.524 834.266L308.344 831.53C306.598 834.34 304.872 837.223 303.165 840.179C301.459 843.135 299.752 846.091 298.045 849.047L296.325 852.027C294.645 854.936 292.965 857.846 291.285 860.756C289.579 863.712 287.918 866.695 286.304 869.704L291.764 873.688Z" fill="white"/>
        <path class="romanNumerals" id="VIII" d="M209.593 796.852L206.337 798.732L194.457 778.155L197.783 776.235L202.075 782.071L226.964 753.66L189.985 760.969L192.583 767.229L189.257 769.149L180.297 753.63L183.553 751.75L187.625 756.881L238.108 747.041L240.868 751.822L207.358 791.861L209.593 796.852ZM181.754 748.634L178.498 750.514L166.458 729.66L169.714 727.78L173.698 733.24C176.588 731.633 179.525 729.999 182.508 728.338C185.417 726.658 188.373 724.952 191.376 723.218L194.355 721.498C197.265 719.818 200.198 718.125 203.154 716.418C206.037 714.692 208.943 712.953 211.872 711.2L209.136 705.02L212.392 703.14L224.432 723.994L221.176 725.874L217.192 720.414C214.275 721.975 211.339 723.609 208.383 725.316C205.427 727.022 202.471 728.729 199.515 730.436L196.536 732.156C193.626 733.836 190.716 735.516 187.806 737.196C184.85 738.902 181.921 740.655 179.018 742.454L181.754 748.634ZM166.598 722.383L163.342 724.263L151.302 703.409L154.558 701.529L158.542 706.988C161.432 705.381 164.369 703.747 167.351 702.087C170.261 700.407 173.217 698.7 176.219 696.967L179.199 695.247C182.108 693.567 185.041 691.874 187.997 690.167C190.881 688.441 193.787 686.701 196.716 684.948L193.98 678.769L197.236 676.889L209.276 697.743L206.02 699.623L202.036 694.163C199.119 695.724 196.183 697.358 193.227 699.064C190.271 700.771 187.315 702.478 184.359 704.184L181.379 705.904C178.47 707.584 175.56 709.264 172.65 710.944C169.694 712.651 166.764 714.404 163.862 716.203L166.598 722.383ZM151.442 696.131L148.186 698.011L136.146 677.157L139.402 675.277L143.386 680.737C146.276 679.13 149.212 677.496 152.195 675.836C155.105 674.156 158.061 672.449 161.063 670.716L164.042 668.996C166.952 667.316 169.885 665.622 172.841 663.916C175.724 662.189 178.631 660.45 181.56 658.697L178.823 652.517L182.08 650.637L194.12 671.491L190.863 673.371L186.88 667.912C183.963 669.472 181.026 671.106 178.07 672.813C175.114 674.52 172.158 676.226 169.202 677.933L166.223 679.653C163.313 681.333 160.403 683.013 157.494 684.693C154.538 686.4 151.608 688.152 148.706 689.952L151.442 696.131Z" fill="white"/>
        <path class="romanNumerals" id="IX" d="M104.398 559.85L100.638 559.85L100.638 535.77L104.398 535.77L105.118 542.49C108.425 542.544 111.785 542.597 115.198 542.65C118.558 542.65 121.971 542.65 125.438 542.65L128.878 542.65C132.238 542.65 135.625 542.65 139.038 542.65C142.398 542.597 145.785 542.544 149.198 542.49L149.918 535.77L153.678 535.77L153.678 559.85L149.918 559.85L149.198 553.13C145.891 553.024 142.531 552.97 139.118 552.97C135.705 552.97 132.291 552.97 128.878 552.97L125.438 552.97C122.078 552.97 118.718 552.97 115.358 552.97C111.945 552.97 108.531 553.024 105.118 553.13L104.398 559.85ZM104.398 531.458L100.638 531.458L100.638 507.698L104.398 507.698L105.038 513.698L120.558 504.578L105.038 495.058L104.398 500.978L100.638 500.978L100.638 483.378L104.398 483.378L105.118 489.938L124.238 502.338L149.198 487.538L149.918 481.218L153.678 481.218L153.678 505.618L149.918 505.618L149.198 498.978L132.158 509.138L149.198 519.938L149.918 514.258L153.678 514.258L153.678 531.938L149.918 531.938L149.118 524.978L128.398 511.298L105.118 525.138L104.398 531.458Z" fill="white"/>
        <path class="romanNumerals" id="X" d="M150.548 328.047L147.291 326.167L159.171 305.59L162.428 307.47L159.982 312.986L177.983 312.848L169.302 296.843L165.788 301.65L162.531 299.77L171.331 284.528L174.588 286.408L171.931 292.449L182.29 312.748L211.306 312.411L215.089 307.297L218.345 309.177L206.145 330.308L202.889 328.428L205.586 322.318L185.749 322.597L195.106 340.47L198.569 335.911L201.825 337.791L192.985 353.102L189.729 351.222L192.516 344.795L181.412 322.587L154.331 322.933L150.548 328.047Z" fill="white"/>
        <path class="romanNumerals" id="XI" d="M280.514 176.456L278.634 173.2L299.211 161.32L301.091 164.576L296.215 168.13L311.873 177.011L312.357 158.81L306.91 161.216L305.03 157.96L320.272 149.16L322.152 152.416L316.831 156.32L315.653 179.078L340.95 193.294L346.783 190.758L348.663 194.014L327.532 206.214L325.652 202.958L331.042 199.014L313.724 189.337L312.891 209.494L318.17 207.278L320.05 210.534L304.738 219.374L302.858 216.118L308.486 211.945L309.973 187.161L286.347 173.92L280.514 176.456ZM327.305 149.441L325.425 146.185L346.279 134.145L348.159 137.401L342.699 141.385C344.306 144.275 345.94 147.212 347.6 150.194C349.28 153.104 350.987 156.06 352.72 159.063L354.44 162.042C356.12 164.952 357.814 167.884 359.52 170.841C361.247 173.724 362.986 176.63 364.739 179.559L370.919 176.823L372.799 180.079L351.945 192.119L350.065 188.863L355.524 184.879C353.963 181.962 352.33 179.026 350.623 176.07C348.916 173.114 347.21 170.158 345.503 167.202L343.783 164.223C342.103 161.313 340.423 158.403 338.743 155.493C337.036 152.537 335.283 149.608 333.484 146.705L327.305 149.441Z" fill="white"/>
        <path class="romanNumerals" id="XII" d="M472.134 106.745V102.985H495.894V106.745L489.894 107.385L499.014 122.905L508.534 107.385L502.614 106.745V102.985H520.214V106.745L513.654 107.465L501.254 126.585L516.054 151.545L522.374 152.265V156.025H497.974V152.265L504.614 151.545L494.454 134.505L483.654 151.545L489.334 152.265V156.025H471.654V152.265L478.614 151.465L492.294 130.745L478.454 107.465L472.134 106.745ZM526.163 106.745V102.985H550.243V106.745L543.523 107.465C543.47 110.772 543.417 114.132 543.363 117.545C543.363 120.905 543.363 124.319 543.363 127.785V131.225C543.363 134.585 543.363 137.972 543.363 141.385C543.417 144.745 543.47 148.132 543.523 151.545L550.243 152.265V156.025H526.163V152.265L532.883 151.545C532.99 148.239 533.043 144.879 533.043 141.465C533.043 138.052 533.043 134.639 533.043 131.225V127.785C533.043 124.425 533.043 121.065 533.043 117.705C533.043 114.292 532.99 110.879 532.883 107.465L526.163 106.745ZM556.476 106.745V102.985H580.556V106.745L573.836 107.465C573.783 110.772 573.729 114.132 573.676 117.545C573.676 120.905 573.676 124.319 573.676 127.785V131.225C573.676 134.585 573.676 137.972 573.676 141.385C573.729 144.745 573.783 148.132 573.836 151.545L580.556 152.265V156.025H556.476V152.265L563.196 151.545C563.303 148.239 563.356 144.879 563.356 141.465C563.356 138.052 563.356 134.639 563.356 131.225V127.785C563.356 124.425 563.356 121.065 563.356 117.705C563.356 114.292 563.303 110.879 563.196 107.465L556.476 106.745Z" fill="white"/>
        </g>
        <g id="InnerClock">
        <circle id="Ellipse 2" cx="525.5" cy="525.501" r="341.507" stroke="white" stroke-width="10"/>
        <circle id="Ellipse 3" cx="525.5" cy="525.501" r="306.3" stroke="white" stroke-width="10"/>
        <g id="Radial">
        <line id="Line 14" y1="-5" x2="30.5463" y2="-5" transform="matrix(-1 0 0 1 219.233 525.501)" stroke="white" stroke-width="10"/>
        <line id="Line 14_2" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.965926 -0.258819 -0.258819 0.965926 229.669 446.233)" stroke="white" stroke-width="10"/>
        <line id="Line 14_3" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.866026 -0.5 -0.5 0.866026 260.264 372.368)" stroke="white" stroke-width="10"/>
        <line id="Line 14_4" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 308.936 308.938)" stroke="white" stroke-width="10"/>
        <line id="Line 14_5" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.5 -0.866026 -0.866026 0.5 372.366 260.267)" stroke="white" stroke-width="10"/>
        <line id="Line 14_6" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.258819 -0.965926 -0.965926 0.258819 446.232 229.671)" stroke="white" stroke-width="10"/>
        <line id="Line 14_7" y1="-5" x2="30.5463" y2="-5" transform="matrix(0 -1 -1 0 525.499 219.235)" stroke="white" stroke-width="10"/>
        <line id="Line 14_8" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.258819 -0.965926 -0.965926 -0.258819 604.767 229.671)" stroke="white" stroke-width="10"/>
        <line id="Line 14_9" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.5 -0.866026 -0.866026 -0.5 678.633 260.267)" stroke="white" stroke-width="10"/>
        <line id="Line 14_10" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 742.062 308.938)" stroke="white" stroke-width="10"/>
        <line id="Line 14_11" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.866026 -0.5 -0.5 -0.866026 790.734 372.368)" stroke="white" stroke-width="10"/>
        <line id="Line 14_12" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.965926 -0.258819 -0.258819 -0.965926 821.33 446.233)" stroke="white" stroke-width="10"/>
        <line id="Line 14_13" y1="-5" x2="30.5463" y2="-5" transform="matrix(1 0 0 -1 831.766 525.501)" stroke="white" stroke-width="10"/>
        <line id="Line 14_14" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.965926 0.258819 0.258819 -0.965926 821.33 604.769)" stroke="white" stroke-width="10"/>
        <line id="Line 14_15" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.866026 0.5 0.5 -0.866026 790.734 678.634)" stroke="white" stroke-width="10"/>
        <line id="Line 14_16" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.707107 0.707107 0.707107 -0.707107 742.062 742.064)" stroke="white" stroke-width="10"/>
        <line id="Line 14_17" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.5 0.866026 0.866026 -0.5 678.633 790.736)" stroke="white" stroke-width="10"/>
        <line id="Line 14_18" y1="-5" x2="30.5463" y2="-5" transform="matrix(0.258819 0.965926 0.965926 -0.258819 604.767 821.332)" stroke="white" stroke-width="10"/>
        <line id="Line 14_19" y1="-5" x2="30.5463" y2="-5" transform="matrix(0 1 1 0 525.499 831.768)" stroke="white" stroke-width="10"/>
        <line id="Line 14_20" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.258819 0.965926 0.965926 0.258819 446.232 821.332)" stroke="white" stroke-width="10"/>
        <line id="Line 14_21" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.5 0.866026 0.866026 0.5 372.366 790.736)" stroke="white" stroke-width="10"/>
        <line id="Line 14_22" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 308.936 742.064)" stroke="white" stroke-width="10"/>
        <line id="Line 14_23" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.866026 0.5 0.5 0.866026 260.264 678.634)" stroke="white" stroke-width="10"/>
        <line id="Line 14_24" y1="-5" x2="30.5463" y2="-5" transform="matrix(-0.965926 0.258819 0.258819 0.965926 229.669 604.769)" stroke="white" stroke-width="10"/>
        </g>
        </g>
        <g id="OuterClock">
        <g id="HalfUpClock">
        <path id="Dot" d="M992.479 526.673L1028.96 526.673" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_2" d="M991.838 551.175L1028.27 553.084" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_3" d="M989.914 575.609L1026.19 579.422" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_4" d="M986.716 599.909L1022.75 605.615" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_5" d="M982.249 624.008L1017.93 631.592" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_6" d="M976.527 647.84L1011.76 657.282" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_7" d="M969.566 671.341L1004.26 682.613" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_8" d="M961.385 694.444L995.441 707.517" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_9" d="M952.005 717.088L985.331 731.926" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_10" d="M941.453 739.21L973.957 755.772" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_11" d="M929.759 760.75L961.351 778.989" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_12" d="M916.952 781.648L947.547 801.516" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_13" d="M903.07 801.847L932.582 823.289" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_14" d="M888.15 821.291L916.5 844.249" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_15" d="M872.232 839.929L899.341 864.338" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_16" d="M855.36 857.707L881.155 883.502" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_17" d="M837.582 874.579L861.991 901.688" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_18" d="M818.944 890.497L841.902 918.847" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_19" d="M799.5 905.417L820.942 934.929" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_20" d="M779.301 919.299L799.169 949.894" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_21" d="M758.403 932.106L776.642 963.698" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_22" d="M736.863 943.801L753.424 976.304" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_23" d="M714.741 954.352L729.579 987.678" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_24" d="M692.097 963.732L705.17 997.788" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_25" d="M668.994 971.913L680.266 1006.61" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_26" d="M645.493 978.874L654.935 1014.11" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_27" d="M621.661 984.596L629.245 1020.28" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_28" d="M597.562 989.062L603.269 1025.09" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_29" d="M573.262 992.261L577.075 1028.54" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_30" d="M548.828 994.185L550.737 1030.61" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_31" d="M524.326 994.826L524.326 1031.31" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_32" d="M499.825 994.185L497.916 1030.61" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_33" d="M475.391 992.261L471.578 1028.54" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_34" d="M451.091 989.062L445.385 1025.09" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_35" d="M426.992 984.596L419.408 1020.28" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_36" d="M403.16 978.874L393.718 1014.11" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_37" d="M379.659 971.913L368.387 1006.61" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_38" d="M356.556 963.732L343.483 997.788" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_39" d="M333.911 954.352L319.074 987.678" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_40" d="M311.79 943.8L295.228 976.304" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_41" d="M290.25 932.105L272.01 963.698" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_42" d="M269.352 919.299L249.484 949.894" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_43" d="M249.153 905.417L227.711 934.929" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_44" d="M229.708 890.496L206.751 918.846" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_45" d="M211.071 874.579L186.662 901.688" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_46" d="M193.292 857.707L167.498 883.502" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_47" d="M176.421 839.929L149.312 864.338" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_48" d="M160.503 821.291L132.153 844.249" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_49" d="M145.583 801.847L116.071 823.289" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_50" d="M131.7 781.648L101.106 801.516" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_51" d="M118.894 760.75L87.302 778.989" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_52" d="M107.199 739.21L74.696 755.772" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_53" d="M96.6477 717.088L63.3221 731.926" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_54" d="M87.2684 694.444L53.2119 707.517" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_55" d="M79.0867 671.34L44.3927 682.613" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_56" d="M72.1255 647.84L36.8891 657.282" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_57" d="M66.4042 624.008L30.7219 631.592" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_58" d="M61.9374 599.909L25.9071 605.615" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_59" d="M58.7384 575.609L22.4588 579.422" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_60" d="M56.8153 551.175L20.3859 553.084" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_61" d="M56.1738 526.673L19.6944 526.673" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <g id="HalfUpClock_2">
        <path id="Dot_62" d="M992.785 524.632L1029.26 524.632" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_63" d="M992.144 500.131L1028.57 498.222" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_64" d="M990.22 475.697L1026.5 471.884" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_65" d="M987.022 451.397L1023.05 445.69" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_66" d="M982.555 427.298L1018.24 419.713" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_67" d="M976.833 403.465L1012.07 394.024" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_68" d="M969.872 379.965L1004.57 368.692" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_69" d="M961.691 356.861L995.747 343.788" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_70" d="M952.311 334.217L985.637 319.38" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_71" d="M941.759 312.095L974.263 295.534" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_72" d="M930.064 290.556L961.657 272.316" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_73" d="M917.258 269.658L947.852 249.79" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_74" d="M903.376 249.459L932.888 228.017" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_75" d="M888.455 230.014L916.805 207.057" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_76" d="M872.538 211.377L899.647 186.968" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_77" d="M855.666 193.598L881.461 167.803" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_78" d="M837.888 176.727L862.297 149.617" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_79" d="M819.25 160.809L842.207 132.459" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_80" d="M799.806 145.889L821.248 116.376" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_81" d="M779.607 132.006L799.475 101.412" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_82" d="M758.708 119.2L776.948 87.6078" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_83" d="M737.169 107.505L753.73 75.0015" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_84" d="M715.047 96.9535L729.885 63.6279" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_85" d="M692.403 87.5742L705.476 53.5177" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_86" d="M669.299 79.3925L680.572 44.6985" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_87" d="M645.799 72.4313L655.241 37.1948" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_88" d="M621.967 66.7099L629.551 31.0276" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_89" d="M597.868 62.2431L603.574 26.2128" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_90" d="M573.568 59.0442L577.381 22.7646" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_91" d="M549.134 57.1211L551.043 20.6917" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_92" d="M524.632 56.4796L524.632 20.0002" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_93" d="M500.131 57.1211L498.222 20.6917" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_94" d="M475.697 59.0442L471.884 22.7646" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_95" d="M451.397 62.2431L445.69 26.2128" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_96" d="M427.298 66.7099L419.713 31.0276" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_97" d="M403.465 72.4313L394.024 37.1948" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_98" d="M379.965 79.3925L368.692 44.6985" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_99" d="M356.861 87.5742L343.788 53.5177" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_100" d="M334.217 96.9535L319.38 63.6279" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_101" d="M312.096 107.505L295.534 75.0018" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_102" d="M290.556 119.2L272.316 87.6081" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_103" d="M269.658 132.006L249.79 101.412" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_104" d="M249.459 145.889L228.017 116.376" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_105" d="M230.014 160.809L207.057 132.459" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_106" d="M211.377 176.727L186.968 149.617" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_107" d="M193.598 193.598L167.803 167.803" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_108" d="M176.727 211.377L149.617 186.968" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_109" d="M160.809 230.014L132.459 207.057" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_110" d="M145.889 249.459L116.376 228.017" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_111" d="M132.006 269.658L101.412 249.79" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_112" d="M119.2 290.556L87.6078 272.316" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_113" d="M107.505 312.095L75.0018 295.534" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_114" d="M96.9535 334.217L63.6279 319.38" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_115" d="M87.5742 356.861L53.5177 343.788" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_116" d="M79.3925 379.965L44.6985 368.692" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_117" d="M72.4313 403.465L37.1948 394.024" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_118" d="M66.71 427.298L31.0277 419.713" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_119" d="M62.2432 451.397L26.2129 445.69" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_120" d="M59.0442 475.697L22.7646 471.884" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_121" d="M57.1211 500.131L20.6917 498.222" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        <path id="Dot_122" d="M56.4796 524.632L20.0002 524.632" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <g id="90degLines">
        <path id="Line 9" d="M83.0667 526.674L63.0667 515.127V538.221L83.0667 526.674ZM65.0667 524.674H15V528.674H65.0667V524.674Z" fill="white"/>
        <path id="Line 11" d="M524.326 83.0667L535.873 63.0667L512.779 63.0667L524.326 83.0667ZM526.326 65.0667L526.326 15L522.326 15L522.326 65.0667L526.326 65.0667Z" fill="white"/>
        <path id="Line 12" d="M524.326 965.586L512.779 985.586L535.873 985.586L524.326 965.586ZM522.326 983.586L522.326 1033.65L526.326 1033.65L526.326 983.586L522.326 983.586Z" fill="white"/>
        <path id="Line 10" d="M967.933 524.327L987.933 535.874L987.933 512.78L967.933 524.327ZM985.933 526.327L1036 526.327L1036 522.327L985.933 522.327L985.933 526.327Z" fill="white"/>
        </g>
        </g>
        <g id="MajorArrow">
        <rect id="Rectangle 8" width="15.5065" height="329.513" rx="7.75325" transform="matrix(1 0 0 -1 517 825)" fill="white"/>
        </g>
        <g id="MinorArrow">
        <rect id="Rectangle 8_2" width="15.4286" height="215.811" rx="7.71428" transform="matrix(1 0 0 -1 516 721)" fill="white"/>
        </g>
        </g>
        <defs>
        <filter id="filter0_d_59_13" x="0" y="6.10352e-05" width="1051" height="1050.81" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset/>
        <feGaussianBlur stdDeviation="7.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_59_13"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_59_13" result="shape"/>
        </filter>
        </defs>
        </svg>
        
        
    </div>
    <!-- <video
      id="background-video"
      autoplay
      loop
      muted
      poster="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTogPfhbLOk_neriTUlJLrzYaVQG1DszGsBLQ&s"
    >
      <source src="/matrix.mp4" type="video/mp4" />
    </video> -->
    <slot />
  </body>
</html>
