---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<title>V. Zenriel</title>
		<style>
			body {
				scroll-behavior: smooth;
				background: black;
				overflow-x: hidden;
			}
			* {
				padding: 0;
				margin: 0;
			}

			#background-video {
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
			
		</style>
	</head>
	<body>
		<video
	id="background-video"
	autoplay
	loop
	muted
	poster="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTogPfhbLOk_neriTUlJLrzYaVQG1DszGsBLQ&s"
>
	<source src="../../src/images/lines_fix.mp4" type="video/mp4" />
</video>
		<slot />
	</body>
</html>
