---
---
<style>
	.sectionContainer {
		width: 100vw;
		height: 100vh;
	}

	@media only screen and (max-width: 720px) {
		.sectionContainer {
			height: 75vh;
		}
	}
 </style>
<div class="sectionContainer">
	<slot />
</div>
